BTS poulailler/Node-red save Central 24-02-2022.json
[
    {
        "id": "805c580241bb2718",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95acc834831e46e7",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Batterie",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ea3dc01b2a48662d",
            "7c8794493bd5c324",
            "5c4065af834d4824",
            "7bc8ca9e8f15ed7f",
            "f90f20cae0862fc3",
            "8b6490e520ef046a",
            "6d5b8b2a5ce0381d"
        ],
        "x": 34,
        "y": 133,
        "w": 998,
        "h": 234
    },
    {
        "id": "cc01ed0fbd800dde",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4064af3e0c1bbc52",
            "228ba163cfdbeb1b",
            "693b5245577c6127"
        ],
        "x": 1254,
        "y": 19,
        "w": 232,
        "h": 202
    },
    {
        "id": "a7b312f2d6da2fb3",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Get IP",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "73844e3a1f1839f7",
            "6222e2ce9fbf7a60",
            "adcd140aa2820cb8",
            "9c19104544462ab3",
            "5fb3c8e9d8922b77",
            "4c43f9cc05307086"
        ],
        "x": 34,
        "y": 2393,
        "w": 1378,
        "h": 274
    },
    {
        "id": "647514d9b6ed8ee2",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e16af19edd35fa3d",
            "835ea2b341f6f76c"
        ],
        "x": 28,
        "y": 2687,
        "w": 1350,
        "h": 486
    },
    {
        "id": "87c54a4648fb23ce",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "HTML Head",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b97bc1c0.cb899",
            "4e9498751983c2f8"
        ],
        "x": 1234,
        "y": 279,
        "w": 212,
        "h": 122
    },
    {
        "id": "9819ddd24384cda0",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Recuperation RFID",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "e3fe615ee7cd854b",
            "5e4d3a08365f8018",
            "050956be26b608e3",
            "2f3e47d1d76e2545",
            "b4076fe405c0dfaf",
            "ff4db2aaebf87a38",
            "99f30a97b7dc889b",
            "296af81cda02565d",
            "85b998e921c22667",
            "6ce97152d3f5f487",
            "2d18a4e5c0dd03da",
            "1c485132c0f7b26f"
        ],
        "x": 24,
        "y": 813,
        "w": 1402,
        "h": 374
    },
    {
        "id": "b75c8e8f8250104f",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Forme ",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "ea6d8cceab59193d",
            "33d0687fbdb6e278",
            "5507011fe103b6ac",
            "53e07c6e45ded627",
            "6b2b91285d5ee909",
            "1985c4e449851c4d"
        ],
        "x": 1668,
        "y": 673,
        "w": 680,
        "h": 854
    },
    {
        "id": "7319ad82325a1610",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Error ",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bc6b209dc548440d",
            "84103b8300d1d495",
            "fcafb8826453c56e",
            "dc901a6f65c399bb"
        ],
        "x": 1634,
        "y": 33,
        "w": 932,
        "h": 134
    },
    {
        "id": "568846b3235c167f",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Log",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "ff4ba0c13802caad",
            "d703de119e5097ee",
            "480402cb51c2783e",
            "12768eebacab81ab",
            "6ac1c475f4e21404"
        ],
        "x": 34,
        "y": 2133,
        "w": 1418,
        "h": 214
    },
    {
        "id": "6a178380e6f6a626",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Tableux",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f0bfb950882267d6",
            "be02c0b9a84e5a7a",
            "68217be081bdd169",
            "e035aadfb9895a35"
        ],
        "x": 24,
        "y": 1213,
        "w": 848,
        "h": 134
    },
    {
        "id": "5e2f7f95335b353e",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Rajoute une poule",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0a71111d04563e3a",
            "5955a7e28a37623f",
            "a4074e47369ca155",
            "0f320d449667492c",
            "447200486d70a95a",
            "b834f02ab37e21fe"
        ],
        "x": 34,
        "y": 1373,
        "w": 1318,
        "h": 234
    },
    {
        "id": "cf6d5d8de60acfc5",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Enleve une poule",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4c708050d4368b5e",
            "e731e576123da0a4",
            "54f9e1bbf110b28b",
            "aa313c66d72a304b",
            "d0a0e32641e19533",
            "c4a6d979ad810471",
            "4228a65ce76f94c6",
            "36ed1aa10688f330"
        ],
        "x": 34,
        "y": 1633,
        "w": 1748,
        "h": 274
    },
    {
        "id": "636581ac168befa3",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Modifie une poule ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "900122880a116110",
            "e0b6bcbdf429836e",
            "3e465f358a1c8873",
            "b1c4fb62f965bd78",
            "94f2b4c5f8fe9a41"
        ],
        "x": 34,
        "y": 1933,
        "w": 1218,
        "h": 174
    },
    {
        "id": "557006cc076a8df2",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Sélection par le tableux",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "051023dfbfbb6407"
        ],
        "x": 894,
        "y": 1239,
        "w": 232,
        "h": 82
    },
    {
        "id": "52e51f873d080c35",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Reste ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "dc8b50c05afee566",
            "ceffe6e0f58844e8"
        ],
        "x": 1174,
        "y": 1239,
        "w": 332,
        "h": 82
    },
    {
        "id": "ea6d8cceab59193d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Nom",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "68f1a52a7bace804",
            "8897b032ff8177f8"
        ],
        "x": 1694,
        "y": 1173,
        "w": 618,
        "h": 174
    },
    {
        "id": "33d0687fbdb6e278",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Numéro",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7d0d0f6af1c795b2",
            "fa543507d187bd10"
        ],
        "x": 1694,
        "y": 1013,
        "w": 628,
        "h": 134
    },
    {
        "id": "5507011fe103b6ac",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Date",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f14aab6f89b6da1a",
            "f4b5ee480366ba24",
            "c1fda23de5a8aa64"
        ],
        "x": 1694,
        "y": 899,
        "w": 532,
        "h": 82
    },
    {
        "id": "53e07c6e45ded627",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "ID ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "234a9bf6dd16cd8a",
            "fba792433f6238bb"
        ],
        "x": 1694,
        "y": 799,
        "w": 392,
        "h": 82
    },
    {
        "id": "6b2b91285d5ee909",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "df3db7124d79dc16",
            "169870c1951eaa11"
        ],
        "x": 1694,
        "y": 699,
        "w": 372,
        "h": 82
    },
    {
        "id": "e16af19edd35fa3d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion auto",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "90558f9b056bceb7",
            "0f10804815cb8909",
            "ae3a9d0868370291",
            "af7f183ce8dafc70",
            "197b4331dac17f16",
            "3ba73377816e50b2",
            "37d1f163c8a89f50",
            "9ca5417844cd9c7a",
            "0c2352a7d0fc9a89",
            "6d144252e21a0548"
        ],
        "x": 54,
        "y": 2873,
        "w": 1298,
        "h": 274
    },
    {
        "id": "835ea2b341f6f76c",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion manuel ",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "aee599b54fae5925",
            "7508e3ff11b7f1eb"
        ],
        "x": 64,
        "y": 2713,
        "w": 628,
        "h": 134
    },
    {
        "id": "dc5a57eb6931fef0",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Système Notification",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "3b753337ef46f343",
            "f285eccb096c3ac7",
            "5774f682efdd4e1f",
            "b84b30b91afbba70",
            "c22c82aad37ee205"
        ],
        "x": 34,
        "y": 659,
        "w": 832,
        "h": 137
    },
    {
        "id": "1cde7581e890abab",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "On/Off Notification",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "63d3213db31e8f74",
            "c5a929feb26d28c7",
            "88800d41e789137a",
            "da2ae59fb4c6ecd9",
            "7c7e179305eca2e6",
            "b2f154d9e1177a7c",
            "7b9022f8e8edef7d",
            "b3e440718d96f965"
        ],
        "x": 34,
        "y": 393,
        "w": 1018,
        "h": 254
    },
    {
        "id": "d703de119e5097ee",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "get log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f3a00c3203d49c4a",
            "ae9b2e7ae093ea8d"
        ],
        "x": 574,
        "y": 2159,
        "w": 392,
        "h": 82
    },
    {
        "id": "84103b8300d1d495",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "Add data to log ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3be5b10c4a60e56f",
            "827caa8b8cd574c3"
        ],
        "x": 1834,
        "y": 59,
        "w": 372,
        "h": 82
    },
    {
        "id": "b834f02ab37e21fe",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "529c30de70b1a4c8",
            "45c373b3679103d0",
            "a975db368222c4af",
            "2024281cd9f050be",
            "3da246ea47f01e51",
            "a7a2ed0f5dbff2e9",
            "580dd8d235d69ed4"
        ],
        "x": 774,
        "y": 1399,
        "w": 552,
        "h": 182
    },
    {
        "id": "c4a6d979ad810471",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b0e525dbd329e672",
            "2b5deed04d555771"
        ],
        "x": 334,
        "y": 1799,
        "w": 372,
        "h": 82
    },
    {
        "id": "4228a65ce76f94c6",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Avertissement",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9d134a66ea0e562b",
            "e53aea8a305473d3",
            "2daa811ebdfba515"
        ],
        "x": 414,
        "y": 1659,
        "w": 452,
        "h": 82
    },
    {
        "id": "36ed1aa10688f330",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a1aa94af6610700a",
            "f98b682badaf6d9c",
            "9b111f5ed35af9aa"
        ],
        "x": 1214,
        "y": 1719,
        "w": 542,
        "h": 82
    },
    {
        "id": "94f2b4c5f8fe9a41",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ba431b7706d5c630",
            "8ffa7ab7d217f3af",
            "0fe50ddbe7a852c0",
            "b5266c492f974bb2",
            "31ea0afea8766ae1"
        ],
        "x": 694,
        "y": 1959,
        "w": 532,
        "h": 122
    },
    {
        "id": "9c19104544462ab3",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "Authentification",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e77cb200.c630b",
            "1b706a81.3b20f5",
            "838f5114e94bb518",
            "6a1fbffb30a62cda"
        ],
        "x": 214,
        "y": 2539,
        "w": 632,
        "h": 102
    },
    {
        "id": "5fb3c8e9d8922b77",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "18b517d85ddd5705"
        ],
        "x": 1014,
        "y": 2519,
        "w": 192,
        "h": 82
    },
    {
        "id": "4c43f9cc05307086",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "Add log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "67ed016ef346444e",
            "cdb7bc27e3868456"
        ],
        "x": 1014,
        "y": 2419,
        "w": 372,
        "h": 82
    },
    {
        "id": "12768eebacab81ab",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "Displate",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "501beae42599466e",
            "64c7dc5c1e8c2908"
        ],
        "x": 994,
        "y": 2159,
        "w": 432,
        "h": 82
    },
    {
        "id": "6ac1c475f4e21404",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "Delete log",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "91e9e87a22c03651",
            "8fca8aaa8ceedb29"
        ],
        "x": 194,
        "y": 2239,
        "w": 372,
        "h": 82
    },
    {
        "id": "e035aadfb9895a35",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "Displate",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f7560f01eb413def",
            "6e780dd979bcec24"
        ],
        "x": 514,
        "y": 1239,
        "w": 332,
        "h": 82
    },
    {
        "id": "6ce97152d3f5f487",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b66fa5a4a6d85200",
            "a4fab9d5f902b055"
        ],
        "x": 234,
        "y": 1079,
        "w": 372,
        "h": 82
    },
    {
        "id": "2d18a4e5c0dd03da",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "execution progamme RFID",
        "style": {
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "755b9fa70a4e44cc",
            "e740ce6276434eec"
        ],
        "x": 214,
        "y": 919,
        "w": 272,
        "h": 129.5
    },
    {
        "id": "1c485132c0f7b26f",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bf5bc1ac374a2895",
            "7eb17b191ebb7aa8"
        ],
        "x": 614,
        "y": 839,
        "w": 372,
        "h": 82
    },
    {
        "id": "1985c4e449851c4d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Text imput",
        "style": {
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "09d62b99c946f92c",
            "6a0fc35995231d9c",
            "15d0d2e46981435c",
            "0e342f77a725c426"
        ],
        "x": 1694,
        "y": 1379,
        "w": 612,
        "h": 122
    },
    {
        "id": "8897b032ff8177f8",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "ea6d8cceab59193d",
        "name": "Définition du Nom",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8ac547f8b8b8eb17",
            "8f33358fd390971f",
            "c3bb784ac209c139"
        ],
        "x": 1894,
        "y": 1199,
        "w": 392,
        "h": 122
    },
    {
        "id": "fa543507d187bd10",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "33d0687fbdb6e278",
        "name": "Définition du numero",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2f4bd857cc1f852e",
            "1d7d79794258e0fc"
        ],
        "x": 1894,
        "y": 1039,
        "w": 402,
        "h": 82
    },
    {
        "id": "7508e3ff11b7f1eb",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8b8fae707974793d",
            "f715fc3e0e71471d"
        ],
        "x": 294,
        "y": 2739,
        "w": 372,
        "h": 82
    },
    {
        "id": "0c2352a7d0fc9a89",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "add log",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "24fd476908ee1530",
            "add28a59365ae480"
        ],
        "x": 954,
        "y": 3039,
        "w": 372,
        "h": 82
    },
    {
        "id": "6d144252e21a0548",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c41546e54d83eef9",
            "7cb5cf9ac1512fe0",
            "94603c86e4f5572f",
            "c2c006841585cf35"
        ],
        "x": 954,
        "y": 2899,
        "w": 372,
        "h": 122
    },
    {
        "id": "7c7e179305eca2e6",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "Add log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a3403886dd3040bb",
            "4792d77573569a44"
        ],
        "x": 654,
        "y": 539,
        "w": 372,
        "h": 82
    },
    {
        "id": "b2f154d9e1177a7c",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "Notification",
        "style": {
            "label": true,
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "c2a9274b101f8aa1"
        ],
        "x": 654,
        "y": 419,
        "w": 232,
        "h": 82
    },
    {
        "id": "f90f20cae0862fc3",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "Add log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7d1eb8fa5f9409a9",
            "93dedf175000e308"
        ],
        "x": 634,
        "y": 259,
        "w": 372,
        "h": 82
    },
    {
        "id": "8b6490e520ef046a",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9864e6e3d51ab153",
            "7cc2e24b620ba90d"
        ],
        "x": 634,
        "y": 159,
        "w": 332,
        "h": 82
    },
    {
        "id": "4064af3e0c1bbc52",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "add_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1350,
        "y": 120,
        "wires": []
    },
    {
        "id": "228ba163cfdbeb1b",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "remove_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1360,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea3dc01b2a48662d",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "Batterie",
        "topic": "BTSpoulailler2022/batterie",
        "qos": "0",
        "datatype": "utf8",
        "broker": "77bbf09a988418ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "7c8794493bd5c324"
            ]
        ]
    },
    {
        "id": "693b5245577c6127",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "code_commande",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1370,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c8794493bd5c324",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 240,
        "wires": [
            [
                "5c4065af834d4824",
                "6d5b8b2a5ce0381d"
            ]
        ]
    },
    {
        "id": "5c4065af834d4824",
        "type": "ui_gauge",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "Batterie",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff04"
        ],
        "seg1": "",
        "seg2": "",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "b46cf4b15215226b",
        "type": "comment",
        "z": "805c580241bb2718",
        "name": "Code_commande",
        "info": "Ouvrir/Fermer : 1",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "90558f9b056bceb7",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "topic": "BTSpoulailler2022/Pong",
        "qos": "2",
        "datatype": "auto",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 3100,
        "wires": [
            [
                "197b4331dac17f16"
            ]
        ]
    },
    {
        "id": "0f10804815cb8909",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "topic": "BTSpoulailler2022/Ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 410,
        "y": 3100,
        "wires": []
    },
    {
        "id": "ae3a9d0868370291",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "clock 2heur",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 170,
        "y": 3040,
        "wires": [
            [
                "af7f183ce8dafc70",
                "9ca5417844cd9c7a",
                "0f10804815cb8909"
            ]
        ]
    },
    {
        "id": "af7f183ce8dafc70",
        "type": "delay",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 380,
        "y": 3040,
        "wires": [
            [
                "37d1f163c8a89f50"
            ]
        ]
    },
    {
        "id": "197b4331dac17f16",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "set true",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 3100,
        "wires": [
            []
        ]
    },
    {
        "id": "3ba73377816e50b2",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 3040,
        "wires": [
            [
                "c41546e54d83eef9"
            ],
            [
                "c2c006841585cf35",
                "24fd476908ee1530"
            ]
        ]
    },
    {
        "id": "37d1f163c8a89f50",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "get reponse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pong",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 3040,
        "wires": [
            [
                "3ba73377816e50b2"
            ]
        ]
    },
    {
        "id": "9ca5417844cd9c7a",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 3000,
        "wires": [
            []
        ]
    },
    {
        "id": "b77a34da843b7757",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "group": "0c837632a8607faf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Spacer",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 40,
        "wires": []
    },
    {
        "id": "73844e3a1f1839f7",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "command": "hostname -I",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 750,
        "y": 2500,
        "wires": [
            [
                "6222e2ce9fbf7a60"
            ],
            [],
            []
        ]
    },
    {
        "id": "6222e2ce9fbf7a60",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "func": "var ip = \"\";\nip = msg.payload;\n\nmsg.payload = \"Adresse IP : \" + ip.split(\" \")[0].toString()\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 2500,
        "wires": [
            [
                "18b517d85ddd5705",
                "67ed016ef346444e"
            ]
        ]
    },
    {
        "id": "18b517d85ddd5705",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "5fb3c8e9d8922b77",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "adcd140aa2820cb8",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Adresse IP ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 2580,
        "wires": [
            [
                "e77cb200.c630b"
            ]
        ]
    },
    {
        "id": "8b8fae707974793d",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "7508e3ff11b7f1eb",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lancement du test ...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2780,
        "wires": [
            [
                "f715fc3e0e71471d"
            ]
        ]
    },
    {
        "id": "aee599b54fae5925",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test connexion ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 2780,
        "wires": [
            [
                "9ca5417844cd9c7a",
                "af7f183ce8dafc70",
                "0f10804815cb8909",
                "8b8fae707974793d"
            ]
        ]
    },
    {
        "id": "f715fc3e0e71471d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "7508e3ff11b7f1eb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 550,
        "y": 2780,
        "wires": []
    },
    {
        "id": "3b753337ef46f343",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "topic": "BTSpoulailler2022/code_alerte",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "f285eccb096c3ac7"
            ]
        ]
    },
    {
        "id": "f285eccb096c3ac7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 740,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "5774f682efdd4e1f",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 790,
        "y": 740,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b84b30b91afbba70",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "code_Notification",
        "info": "",
        "x": 140,
        "y": 700,
        "wires": []
    },
    {
        "id": "63d3213db31e8f74",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Notifiacation des alerte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "c5a929feb26d28c7"
            ]
        ]
    },
    {
        "id": "c5a929feb26d28c7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "func": "\nif (flow.get(\"onAlerte\")) {\n    flow.set(\"onAlerte\",false)\n    msg.payload = false;\n    return [msg,null];\n}\nelse{\n    flow.set(\"onAlerte\",true);\n    msg.payload = true;\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"onAlerte\", true);\n\n",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "88800d41e789137a",
                "b3e440718d96f965",
                "7b9022f8e8edef7d"
            ],
            [
                "88800d41e789137a"
            ]
        ]
    },
    {
        "id": "c2a9274b101f8aa1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "b2f154d9e1177a7c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "c22c82aad37ee205",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "if (  flow.onAlerte )",
        "func": "\nif (flow.get(\"onAlerte\") == true) {\n    return msg ;\n}\n\nreturn msg = null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"onAlerte\",true);",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 740,
        "wires": [
            [
                "5774f682efdd4e1f"
            ]
        ]
    },
    {
        "id": "8ac547f8b8b8eb17",
        "type": "ui_text_input",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "de0704c895d59fa5",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1980,
        "y": 1240,
        "wires": [
            [
                "8f33358fd390971f"
            ]
        ]
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 1340,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e77cb200.c630b",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "name": "Content",
        "func": "return { payload: '<style>input{ -webkit-text-security: disc;}</style> Mots de passe administrateur :'};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 2580,
        "wires": [
            [
                "1b706a81.3b20f5"
            ]
        ]
    },
    {
        "id": "1b706a81.3b20f5",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 450,
        "y": 2580,
        "wires": [
            [
                "838f5114e94bb518"
            ]
        ]
    },
    {
        "id": "838f5114e94bb518",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "name": "",
        "func": "if (msg.payload == \"Cancel\") {\n    return [null, null];\n}\nif (msg.payload == \"OK\") {\n    return [null, null];\n}\nif (msg.payload == \"nodebleu\") {\n    msg.payload = true;\n    return [msg, null];\n}\nelse {\n    msg.payload = \"Le mot de passe est incorrect\";\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2580,
        "wires": [
            [
                "73844e3a1f1839f7"
            ],
            [
                "6a1fbffb30a62cda"
            ]
        ]
    },
    {
        "id": "6a1fbffb30a62cda",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "e3fe615ee7cd854b",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Lecture RFID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "755b9fa70a4e44cc",
                "ff4db2aaebf87a38",
                "b66fa5a4a6d85200"
            ]
        ]
    },
    {
        "id": "755b9fa70a4e44cc",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "2d18a4e5c0dd03da",
        "command": "/usr/bin/python3  /home/pi/test.py",
        "addpay": "",
        "append": "10",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "python3  /home/pi/test.py",
        "x": 350,
        "y": 1000,
        "wires": [
            [
                "99f30a97b7dc889b",
                "296af81cda02565d"
            ],
            [],
            []
        ]
    },
    {
        "id": "88800d41e789137a",
        "type": "ui_led",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "order": 6,
        "group": "0c837632a8607faf",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "5e4d3a08365f8018",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "commende SQL",
        "func": "msg.rfid = msg.payload;\n\nmsg.topic = \"SELECT * FROM poules WHERE id ='\" + msg.rfid + \"';\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 980,
        "wires": [
            [
                "050956be26b608e3"
            ]
        ]
    },
    {
        "id": "050956be26b608e3",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1020,
        "y": 1020,
        "wires": [
            [
                "2f3e47d1d76e2545"
            ]
        ]
    },
    {
        "id": "2f3e47d1d76e2545",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Set JSON Poule and processing data",
        "func": "var poule;\nif (msg.payload[0] == null) {\n    \n    poule = {\n        id: msg.rfid,\n        name: \"\",\n        numero: 0,\n        thisDate: \"\",\n        thisnew : true,\n        text : \"\"\n    }\n\n    flow.set(\"poule\", poule)\n\n    msg.poule = poule;\n\n}\nelse {\n\n    var obj = msg.payload[0];\n    console.log(obj.id)\n    if (obj.numero == null) { obj.numero = 0 }\n\n    poule = {\n        id: obj.ID,\n        name: obj.nom,\n        numero: obj.nombre,\n        thisDate: obj.date,\n        thisnew :false,\n        text: obj.info\n    }\n\n    flow.set(\"poule\", poule)\n\n    msg.poule = poule;\n\n\n    \n}\n\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"poule\", {\n    id: null,\n    name: null,\n    numero: null,\n    thisDate: null,\n    text: null,\n})\n",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1020,
        "wires": [
            [
                "f4b5ee480366ba24",
                "7d0d0f6af1c795b2",
                "68f1a52a7bace804",
                "09d62b99c946f92c",
                "fba792433f6238bb",
                "169870c1951eaa11"
            ]
        ]
    },
    {
        "id": "8f33358fd390971f",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "poule.name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2160,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "68f1a52a7bace804",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "ea6d8cceab59193d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.name",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1240,
        "wires": [
            [
                "8ac547f8b8b8eb17"
            ]
        ]
    },
    {
        "id": "2f4bd857cc1f852e",
        "type": "ui_numeric",
        "z": "805c580241bb2718",
        "g": "fa543507d187bd10",
        "name": "",
        "label": "numéro",
        "tooltip": "valeur optionnel",
        "group": "de0704c895d59fa5",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "999",
        "step": 1,
        "className": "",
        "x": 1980,
        "y": 1080,
        "wires": [
            [
                "1d7d79794258e0fc"
            ]
        ]
    },
    {
        "id": "1d7d79794258e0fc",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "fa543507d187bd10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "poule.numero",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0d0f6af1c795b2",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "33d0687fbdb6e278",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.numero",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1080,
        "wires": [
            [
                "2f4bd857cc1f852e"
            ]
        ]
    },
    {
        "id": "f14aab6f89b6da1a",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "group": "de0704c895d59fa5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "enregistrer ",
        "label": "Enregistrer le :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2130,
        "y": 940,
        "wires": []
    },
    {
        "id": "f4b5ee480366ba24",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.thisDate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 940,
        "wires": [
            [
                "c1fda23de5a8aa64"
            ]
        ]
    },
    {
        "id": "c1fda23de5a8aa64",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "name": "",
        "func": "\nif (msg.payload == \"\") { \n    return msg\n}\n\nvar date = new Date(msg.payload);\n\nmsg.payload = date.toLocaleString('fr-FR',{\n    year:'numeric',\n    month:'numeric',\n    day:'numeric',\n    hour:'numeric',\n    minute:'numeric',\n    second:'numeric',\n});\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 940,
        "wires": [
            [
                "f14aab6f89b6da1a"
            ]
        ]
    },
    {
        "id": "234a9bf6dd16cd8a",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "53e07c6e45ded627",
        "group": "de0704c895d59fa5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ID : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2010,
        "y": 840,
        "wires": []
    },
    {
        "id": "df3db7124d79dc16",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1950,
        "y": 740,
        "wires": []
    },
    {
        "id": "c3bb784ac209c139",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "group": "de0704c895d59fa5",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "Nom text",
        "label": "Nom:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4e9498751983c2f8",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "c982fbb8.1deb38",
        "name": "scrollbar",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n    ::-webkit-scrollbar {\n    width:10px; /* la taille de la scrollbar*/\n    }\n    \n    ::-webkit-scrollbar-track {\n    padding: 2px 0;\n    background-color: rgb(0,0,0); /* couleur de fond de la scrollbar */\n    }\n    \n    \n    ::-webkit-scrollbar-thumb {\n    background-color: rgb(75,121,48); /* Couleur de la scrollbar */\n    \n    }\n\n    .noselect {\n        -webkit-touch-callout: none; /* iOS Safari */\n        -webkit-user-select: none; /* Safari */\n        -khtml-user-select: none; /* Konqueror HTML */\n        -moz-user-select: none; /* Old versions of Firefox */\n        -ms-user-select: none; /* Internet Explorer/Edge */\n        user-select: none; /* Non-prefixed version, currently\n        supported by Chrome, Edge, Opera and Firefox */\n    }\n    \n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ff4db2aaebf87a38",
        "type": "ui_led",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "order": 11,
        "group": "de0704c895d59fa5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "",
        "x": 710,
        "y": 1060,
        "wires": []
    },
    {
        "id": "296af81cda02565d",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "bf5bc1ac374a2895"
            ],
            [
                "85b998e921c22667"
            ]
        ]
    },
    {
        "id": "b4076fe405c0dfaf",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "755b9fa70a4e44cc"
            ]
        ]
    },
    {
        "id": "99f30a97b7dc889b",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "set false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1020,
        "wires": [
            [
                "ff4db2aaebf87a38"
            ]
        ]
    },
    {
        "id": "85b998e921c22667",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 980,
        "wires": [
            [
                "5e4d3a08365f8018"
            ]
        ]
    },
    {
        "id": "0a71111d04563e3a",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Rajoute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 1480,
        "wires": [
            [
                "0f320d449667492c"
            ]
        ]
    },
    {
        "id": "4c708050d4368b5e",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Enleve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1780,
        "wires": [
            [
                "e731e576123da0a4"
            ]
        ]
    },
    {
        "id": "e740ce6276434eec",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "2d18a4e5c0dd03da",
        "name": "close to 10s",
        "info": "",
        "x": 320,
        "y": 960,
        "wires": []
    },
    {
        "id": "da2ae59fb4c6ecd9",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "88800d41e789137a",
                "7b9022f8e8edef7d"
            ]
        ]
    },
    {
        "id": "900122880a116110",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Modifie",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 2040,
        "wires": [
            [
                "e0b6bcbdf429836e"
            ]
        ]
    },
    {
        "id": "f3a00c3203d49c4a",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "d703de119e5097ee",
        "name": "SELECT * FROM log ",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM log ",
        "output": "str",
        "x": 700,
        "y": 2200,
        "wires": [
            [
                "ae9b2e7ae093ea8d"
            ]
        ]
    },
    {
        "id": "ae9b2e7ae093ea8d",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "d703de119e5097ee",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 880,
        "y": 2200,
        "wires": [
            [
                "501beae42599466e"
            ]
        ]
    },
    {
        "id": "bc6b209dc548440d",
        "type": "catch",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 1740,
        "y": 100,
        "wires": [
            [
                "3be5b10c4a60e56f"
            ]
        ]
    },
    {
        "id": "827caa8b8cd574c3",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "84103b8300d1d495",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 2120,
        "y": 100,
        "wires": [
            [
                "fcafb8826453c56e"
            ]
        ]
    },
    {
        "id": "3be5b10c4a60e56f",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "84103b8300d1d495",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('msg.error [ message: {{error.message}} , type-node: {{error.source.type}}, name-node: {{error.source.name}} ]; msg.payload [ {{payload}} ] msg.topic [ {{topic}} ]');",
        "output": "str",
        "x": 1950,
        "y": 100,
        "wires": [
            [
                "827caa8b8cd574c3"
            ]
        ]
    },
    {
        "id": "ff4ba0c13802caad",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 2200,
        "wires": [
            [
                "f3a00c3203d49c4a"
            ]
        ]
    },
    {
        "id": "501beae42599466e",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "12768eebacab81ab",
        "name": "Mysql DateTime to array string ",
        "func": "var data\nfor (var i = 0; i < msg.payload.length;i++) {\n    data = new Date(msg.payload[i].date)\n    \n    var tamp = [`${data.getDate()}-${data.getMonth() + 1}-${data.getFullYear()}`,`${data.getHours()}:${data.getMinutes()}`]\n    msg.payload[i].date = tamp\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2200,
        "wires": [
            [
                "64c7dc5c1e8c2908"
            ]
        ]
    },
    {
        "id": "64c7dc5c1e8c2908",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "12768eebacab81ab",
        "group": "1b815f1268bf420f",
        "name": "Log",
        "order": 1,
        "width": 10,
        "height": 7,
        "format": "<div style=\"height: 100%; \" >\n    <table style=\"border-spacing: 0px 10px;\">\n        <tr style=\"background-color: #1D1D1D ;\" ng-repeat=\"log in msg.payload track by $index \" class=\"noselect\">\n            <td style=\"width: 18% ;  text-align: right; padding-right: 12px;\">{{log.date[0]}} <br> {{log.date[1]}}</td>\n            <td>{{log.info}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1350,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "8fca8aaa8ceedb29",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "6ac1c475f4e21404",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 480,
        "y": 2280,
        "wires": [
            [
                "f3a00c3203d49c4a"
            ]
        ]
    },
    {
        "id": "91e9e87a22c03651",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6ac1c475f4e21404",
        "name": "DELETE FROM log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM log",
        "output": "str",
        "x": 310,
        "y": 2280,
        "wires": [
            [
                "8fca8aaa8ceedb29"
            ]
        ]
    },
    {
        "id": "480402cb51c2783e",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "",
        "group": "1b815f1268bf420f",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Supprime ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 2280,
        "wires": [
            [
                "91e9e87a22c03651"
            ]
        ]
    },
    {
        "id": "a3403886dd3040bb",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "7c7e179305eca2e6",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 770,
        "y": 580,
        "wires": [
            [
                "4792d77573569a44"
            ]
        ]
    },
    {
        "id": "4792d77573569a44",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "7c7e179305eca2e6",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 940,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "67ed016ef346444e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "4c43f9cc05307086",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('Affichage de l\\'address ip');",
        "output": "str",
        "x": 1130,
        "y": 2460,
        "wires": [
            [
                "cdb7bc27e3868456"
            ]
        ]
    },
    {
        "id": "cdb7bc27e3868456",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "4c43f9cc05307086",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1300,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "15d0d2e46981435c",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "group": "de0704c895d59fa5",
        "name": "Multiline Text Input",
        "order": 7,
        "width": 4,
        "height": 3,
        "format": "<style>\n\n    #textzone {\n        box-sizing: border-box;\n        padding : 5px ;\n        width : 100%;\n        outline : 0px solid #000000;\n        border : 1px solid #707070;\n      \n        \n    }\n\n</style>\n\n<script>\n    document.getElementById('textzone').onkeyup = (event) =>{ \n        document.getElementById('bouton').click();\n    }\n  \n\n    this.scope.action = function() {     \n        return document.getElementById('textzone').textContent;\n    }\n</script>\n\n<!-- Conteneur -->\n<div id=\"textzone\" class=\"end\" ng-bind-html=\"msg.payload | trusted\" contenteditable=\"true\" ></div>\n\n<!-- output -->\n<md-button id = \"bouton\" style=\"display : none ;\" ng-click=\"send({payload:action()})\">  </md-button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1990,
        "y": 1460,
        "wires": [
            [
                "0e342f77a725c426"
            ]
        ]
    },
    {
        "id": "09d62b99c946f92c",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.text",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1460,
        "wires": [
            [
                "15d0d2e46981435c"
            ]
        ]
    },
    {
        "id": "0e342f77a725c426",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "poule.text",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2190,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "6a0fc35995231d9c",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "group": "de0704c895d59fa5",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "information",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1790,
        "y": 1420,
        "wires": []
    },
    {
        "id": "6e780dd979bcec24",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "e035aadfb9895a35",
        "group": "74c5a773f085b6d9",
        "name": "Tableaux",
        "order": 1,
        "width": 15,
        "height": 9,
        "format": "<style>\n\n    .table{\n        width:100%;\n       \n        /* border: 1px solid #4B7C30 ; */\n        text-align : center ;\n        border-spacing: 0px 5px ;\n    }\n\n    .titre {\n       \n        padding : 1px ;\n       \n    }\n\n    .titre div {\n        background-color : #4B7C30;\n        border-radius : 2px;\n        \n    }\n   \n    .data {\n       \n        height: 30px;\n    }\n\n    .data td {\n\n        background-color : #535353 ;\n        /* border-radius : 2px; */\n        padding : 5px ;\n        \n    }\n   \n</style>\n\n<script>\n\n    var id\n    function sendMsg(element) { \n        \n        id = element.getElementsByTagName(\"td\").item(0).innerHTML\n        document.getElementById('bouton1').click();\n    }\n\n    this.scope.action = function() {\n        return id\n    }\n\n\n</script>\n\n\n<div style=\"height: 100%; width: 100%\">\n    <table class=\"table\" >\n        \n        <thead>\n            <tr style=\"border-spacing: 10px ;\">\n                <td class=\"titre\"> \n                    <div>ID</div> <div> </div>\n                </td>  \n                <td class=\"titre\"> \n                    <div>nom</div>\n                </td>\n                <td class=\"titre\"> \n                    <div>numero</div>\n                </td>\n                <td class=\"titre\" style=\"width:100px\" > \n                    <div>date</div>\n                </td>\n                <td class=\"titre\" style=\"max-width: 100px\" > \n                    <div>information</div>\n                </td>\n            </tr>\n        </thead>\n\n        <tbody>     \n            <tr class=\"data \" ng-repeat=\"poule in msg.payload track by $index \" onclick=\"sendMsg(this)\">\n                <td>{{poule.ID}}</td>\n                <td>{{poule.nom}}</td>\n                <td>{{poule.nombre}}</td>\n                <td>{{poule.date[0]}} <br>{{poule.date[1]}} </td>\n                <td style =\"text-align : left ; padding :5px ; \" >{{ poule.info}}</td>\n            </tr>\n        </tbody>\n    \n\n    </table>\n</div>\n\n\n<!-- output -->\n<md-button id=\"bouton1\" style=\"display : none ;\" ng-click=\"send({payload:action()})\"> </md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 1280,
        "wires": [
            [
                "051023dfbfbb6407"
            ]
        ]
    },
    {
        "id": "f0bfb950882267d6",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 440,
        "y": 1280,
        "wires": [
            [
                "f7560f01eb413def"
            ]
        ]
    },
    {
        "id": "be02c0b9a84e5a7a",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "",
        "props": [
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 1280,
        "wires": [
            [
                "68217be081bdd169"
            ]
        ]
    },
    {
        "id": "68217be081bdd169",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "Comande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT ID, nom,nombre,date,info from poules ;",
        "output": "str",
        "x": 280,
        "y": 1280,
        "wires": [
            [
                "f0bfb950882267d6"
            ]
        ]
    },
    {
        "id": "f7560f01eb413def",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "e035aadfb9895a35",
        "name": "Change date",
        "func": "var data\nfor (var i = 0; i < msg.payload.length; i++) {\n    data = new Date(msg.payload[i].date)\n\n    var tamp = [`${data.getDate()}-${data.getMonth() + 1}-${data.getFullYear()}`,`${data.getHours()}:${data.getMinutes()}`]\n    msg.payload[i].date = tamp\n    \n    var text = msg.payload[i].info\n    msg.payload[i].info = text\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1280,
        "wires": [
            [
                "6e780dd979bcec24"
            ]
        ]
    },
    {
        "id": "051023dfbfbb6407",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "557006cc076a8df2",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM poules WHERE id ='{{payload}} ';\n",
        "output": "str",
        "x": 1010,
        "y": 1280,
        "wires": [
            [
                "050956be26b608e3"
            ]
        ]
    },
    {
        "id": "fba792433f6238bb",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "53e07c6e45ded627",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 840,
        "wires": [
            [
                "234a9bf6dd16cd8a"
            ]
        ]
    },
    {
        "id": "5955a7e28a37623f",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "",
        "property": "poule.thisnew",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1460,
        "wires": [
            [
                "447200486d70a95a"
            ],
            [
                "529c30de70b1a4c8"
            ]
        ]
    },
    {
        "id": "a4074e47369ca155",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "3da246ea47f01e51"
            ]
        ]
    },
    {
        "id": "3da246ea47f01e51",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "thisnew",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1440,
        "wires": [
            [
                "a7a2ed0f5dbff2e9"
            ]
        ]
    },
    {
        "id": "a7a2ed0f5dbff2e9",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La poule à été bien rajouter",
        "output": "str",
        "x": 1040,
        "y": 1440,
        "wires": [
            [
                "580dd8d235d69ed4"
            ]
        ]
    },
    {
        "id": "580dd8d235d69ed4",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1210,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0f320d449667492c",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "",
        "property": "poule.id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 1480,
        "wires": [
            [
                "5955a7e28a37623f"
            ],
            [
                "2024281cd9f050be"
            ]
        ]
    },
    {
        "id": "e731e576123da0a4",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "",
        "property": "poule.id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 1780,
        "wires": [
            [
                "d0a0e32641e19533"
            ],
            [
                "b0e525dbd329e672"
            ]
        ]
    },
    {
        "id": "b0e525dbd329e672",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "c4a6d979ad810471",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Veuillez sélectionner une poule",
        "output": "str",
        "x": 420,
        "y": 1840,
        "wires": [
            [
                "2b5deed04d555771"
            ]
        ]
    },
    {
        "id": "2b5deed04d555771",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "c4a6d979ad810471",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 590,
        "y": 1840,
        "wires": []
    },
    {
        "id": "e0b6bcbdf429836e",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "",
        "property": "poule.id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 2040,
        "wires": [
            [
                "3e465f358a1c8873"
            ],
            [
                "8ffa7ab7d217f3af"
            ]
        ]
    },
    {
        "id": "8ffa7ab7d217f3af",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Veuillez sélectionner une poule",
        "output": "str",
        "x": 940,
        "y": 2040,
        "wires": [
            [
                "0fe50ddbe7a852c0"
            ]
        ]
    },
    {
        "id": "0fe50ddbe7a852c0",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 2040,
        "wires": []
    },
    {
        "id": "e53aea8a305473d3",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "4228a65ce76f94c6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 650,
        "y": 1700,
        "wires": [
            [
                "2daa811ebdfba515"
            ]
        ]
    },
    {
        "id": "9d134a66ea0e562b",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "4228a65ce76f94c6",
        "name": "message ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Voulez vous supprimer la poule ?",
        "output": "str",
        "x": 500,
        "y": 1700,
        "wires": [
            [
                "e53aea8a305473d3"
            ]
        ]
    },
    {
        "id": "2daa811ebdfba515",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "4228a65ce76f94c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 1700,
        "wires": [
            [
                "54f9e1bbf110b28b"
            ]
        ]
    },
    {
        "id": "54f9e1bbf110b28b",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM poules WHERE ID = {{flow.poule.id}} ; ",
        "output": "str",
        "x": 950,
        "y": 1760,
        "wires": [
            [
                "aa313c66d72a304b"
            ]
        ]
    },
    {
        "id": "aa313c66d72a304b",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1120,
        "y": 1760,
        "wires": [
            [
                "a1aa94af6610700a"
            ]
        ]
    },
    {
        "id": "f98b682badaf6d9c",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "36ed1aa10688f330",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La poule a été supprimé",
        "output": "str",
        "x": 1460,
        "y": 1760,
        "wires": [
            [
                "9b111f5ed35af9aa"
            ]
        ]
    },
    {
        "id": "9b111f5ed35af9aa",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "36ed1aa10688f330",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1640,
        "y": 1760,
        "wires": []
    },
    {
        "id": "a1aa94af6610700a",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "36ed1aa10688f330",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 1760,
        "wires": [
            [
                "f98b682badaf6d9c"
            ]
        ]
    },
    {
        "id": "3e465f358a1c8873",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE poules SET nom = \"{{flow.poule.name}}\",nombre = {{flow.poule.numero}},info = \"{{flow.poule.text}}\" WHERE id = {{flow.poule.id}};",
        "output": "str",
        "x": 430,
        "y": 2000,
        "wires": [
            [
                "b1c4fb62f965bd78"
            ]
        ]
    },
    {
        "id": "b1c4fb62f965bd78",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 600,
        "y": 2000,
        "wires": [
            [
                "ba431b7706d5c630"
            ]
        ]
    },
    {
        "id": "ba431b7706d5c630",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 2000,
        "wires": [
            [
                "b5266c492f974bb2"
            ]
        ]
    },
    {
        "id": "b5266c492f974bb2",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "les données ont été modifiées",
        "output": "str",
        "x": 940,
        "y": 2000,
        "wires": [
            [
                "31ea0afea8766ae1"
            ]
        ]
    },
    {
        "id": "31ea0afea8766ae1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 2000,
        "wires": []
    },
    {
        "id": "fcafb8826453c56e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Erreur !",
        "output": "str",
        "x": 2280,
        "y": 100,
        "wires": [
            [
                "dc901a6f65c399bb"
            ]
        ]
    },
    {
        "id": "dc901a6f65c399bb",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "position": "top right",
        "displayTime": "5",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2450,
        "y": 100,
        "wires": []
    },
    {
        "id": "447200486d70a95a",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "comande SQL",
        "func": "// INSERT INTO poules(nom,nombre,info,ID) VALUES (\"{{flow.poule.name}}\",{{flow.poule.numero}},'{{flow.poule.text}}',{{flow.poule.id}});\n\n// \"INSERT INTO poules(nom, nombre, info, ID) VALUES( '',0,\"&é\"'(-è_çà)=*/-+.<>ù*%$£^\",4329439);\"\n\n\nvar poule = flow.get(\"poule\");\n\nvar text = poule.text \ntext = text.replace('\"' , \" \")\n\nmsg.topic = \"INSERT INTO poules(nom, nombre, info, ID) VALUES( '\" + poule.name + \"',\" + poule.numero + \",\\\"\" + poule.text + \"\\\",\" + poule.id + \");\"\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1440,
        "wires": [
            [
                "a4074e47369ca155"
            ]
        ]
    },
    {
        "id": "dc8b50c05afee566",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "52e51f873d080c35",
        "name": "",
        "scope": [
            "a7a2ed0f5dbff2e9",
            "f98b682badaf6d9c"
        ],
        "uncaught": false,
        "x": 1270,
        "y": 1280,
        "wires": [
            [
                "ceffe6e0f58844e8"
            ]
        ]
    },
    {
        "id": "ceffe6e0f58844e8",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "52e51f873d080c35",
        "name": "",
        "func": "var poule;\n\npoule = {\n    id: null,\n    name: \"\",\n    numero: 0,\n    thisDate: \"\",\n    thisnew: false,\n    text: \" \"\n}\n\nflow.set(\"poule\", poule)\n\nmsg.poule = poule;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1280,
        "wires": [
            [
                "fba792433f6238bb",
                "f4b5ee480366ba24",
                "7d0d0f6af1c795b2",
                "68f1a52a7bace804",
                "09d62b99c946f92c"
            ]
        ]
    },
    {
        "id": "d0a0e32641e19533",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "",
        "property": "onAlerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1760,
        "wires": [
            [
                "9d134a66ea0e562b"
            ],
            [
                "54f9e1bbf110b28b"
            ]
        ]
    },
    {
        "id": "45c373b3679103d0",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1020,
        "y": 1500,
        "wires": []
    },
    {
        "id": "529c30de70b1a4c8",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La poule est déjà présente ",
        "output": "str",
        "x": 860,
        "y": 1500,
        "wires": [
            [
                "45c373b3679103d0"
            ]
        ]
    },
    {
        "id": "2024281cd9f050be",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Veuillez sélectionner une poule",
        "output": "str",
        "x": 860,
        "y": 1540,
        "wires": [
            [
                "a975db368222c4af"
            ]
        ]
    },
    {
        "id": "a975db368222c4af",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "b834f02ab37e21fe",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1020,
        "y": 1540,
        "wires": []
    },
    {
        "id": "b66fa5a4a6d85200",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6ce97152d3f5f487",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lancement du lecteur RFID",
        "output": "str",
        "x": 320,
        "y": 1120,
        "wires": [
            [
                "a4fab9d5f902b055"
            ]
        ]
    },
    {
        "id": "a4fab9d5f902b055",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6ce97152d3f5f487",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bf5bc1ac374a2895",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "1c485132c0f7b26f",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Arrêt de la lecture RFID",
        "output": "str",
        "x": 700,
        "y": 880,
        "wires": [
            [
                "7eb17b191ebb7aa8"
            ]
        ]
    },
    {
        "id": "7eb17b191ebb7aa8",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "1c485132c0f7b26f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "94603c86e4f5572f",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1190,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "24fd476908ee1530",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "0c2352a7d0fc9a89",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 1070,
        "y": 3080,
        "wires": [
            [
                "add28a59365ae480"
            ]
        ]
    },
    {
        "id": "add28a59365ae480",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "0c2352a7d0fc9a89",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1240,
        "y": 3080,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c006841585cf35",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Une erreur est survenue, Veuillez bien vérifier la connectivité avec le bloc de commande",
        "output": "str",
        "x": 1040,
        "y": 2980,
        "wires": [
            [
                "94603c86e4f5572f"
            ]
        ]
    },
    {
        "id": "c41546e54d83eef9",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Test : La connectivité avec le bloc de commande est bonne",
        "output": "str",
        "x": 1040,
        "y": 2940,
        "wires": [
            [
                "7cb5cf9ac1512fe0"
            ]
        ]
    },
    {
        "id": "7cb5cf9ac1512fe0",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1210,
        "y": 2940,
        "wires": []
    },
    {
        "id": "7b9022f8e8edef7d",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message true",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Les alertes sont activées ",
        "output": "str",
        "x": 540,
        "y": 540,
        "wires": [
            [
                "c2a9274b101f8aa1",
                "a3403886dd3040bb"
            ]
        ]
    },
    {
        "id": "b3e440718d96f965",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message false",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Les alertes sont désactivées ",
        "output": "str",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "c2a9274b101f8aa1",
                "a3403886dd3040bb"
            ]
        ]
    },
    {
        "id": "169870c1951eaa11",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lecture des informations",
        "output": "str",
        "x": 1780,
        "y": 740,
        "wires": [
            [
                "df3db7124d79dc16"
            ]
        ]
    },
    {
        "id": "9864e6e3d51ab153",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "8b6490e520ef046a",
        "name": "OnAlerte",
        "property": "OnAlerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "7cc2e24b620ba90d"
            ]
        ]
    },
    {
        "id": "7bc8ca9e8f15ed7f",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "alerte niveau batterie est faible : {{payload}}% !",
        "output": "str",
        "x": 540,
        "y": 220,
        "wires": [
            [
                "7d1eb8fa5f9409a9",
                "9864e6e3d51ab153"
            ]
        ]
    },
    {
        "id": "7cc2e24b620ba90d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "8b6490e520ef046a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7d1eb8fa5f9409a9",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "f90f20cae0862fc3",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "93dedf175000e308"
            ]
        ]
    },
    {
        "id": "93dedf175000e308",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "f90f20cae0862fc3",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5b8b2a5ce0381d",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": " 10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "7bc8ca9e8f15ed7f"
            ]
        ]
    },
    {
        "id": "e03c76635e962464",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "2361f5cc7cde3379",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6d275572ab9292e2",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "de0704c895d59fa5",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "bce70154ef2bf91e",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "de0704c895d59fa5",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "727c785664c1d191",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "1b815f1268bf420f",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "e30867a57b4d213f",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "77bbf09a988418ab",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "5.196.95.208",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c837632a8607faf",
        "type": "ui_group",
        "name": "Status",
        "tab": "822227a0f92f6265",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de0704c895d59fa5",
        "type": "ui_group",
        "name": "Forme",
        "tab": "b54b20cf8cc54690",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "444ff6d77b0f6d5e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "centraldb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1b815f1268bf420f",
        "type": "ui_group",
        "name": "Log",
        "tab": "822227a0f92f6265",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74c5a773f085b6d9",
        "type": "ui_group",
        "name": "Tableaux",
        "tab": "b54b20cf8cc54690",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2361f5cc7cde3379",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "822227a0f92f6265",
        "type": "ui_tab",
        "name": "Administration ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b54b20cf8cc54690",
        "type": "ui_tab",
        "name": "Poulailler",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]