BTS poulailler/Node-red save Central 23-01-2022.json
[
    {
        "id": "805c580241bb2718",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95acc834831e46e7",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Batterie",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ea3dc01b2a48662d",
            "7c8794493bd5c324",
            "5c4065af834d4824",
            "f33c4610e26a24ce"
        ],
        "x": 54,
        "y": 64,
        "w": 472,
        "h": 157
    },
    {
        "id": "b1728ab88fc86a9d",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Exemple DB ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5977279d4f5ee3d4",
            "aeebb55a996e90f9",
            "fd87ba8a314a9832"
        ],
        "x": 114,
        "y": 3139,
        "w": 642,
        "h": 82
    },
    {
        "id": "cc01ed0fbd800dde",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4064af3e0c1bbc52",
            "228ba163cfdbeb1b",
            "693b5245577c6127"
        ],
        "x": 1254,
        "y": 19,
        "w": 232,
        "h": 202
    },
    {
        "id": "a7b312f2d6da2fb3",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Get IP",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "73844e3a1f1839f7",
            "6222e2ce9fbf7a60",
            "18b517d85ddd5705",
            "adcd140aa2820cb8"
        ],
        "x": 154,
        "y": 2131.5,
        "w": 972,
        "h": 97
    },
    {
        "id": "647514d9b6ed8ee2",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e16af19edd35fa3d",
            "835ea2b341f6f76c"
        ],
        "x": 148,
        "y": 2253,
        "w": 1284,
        "h": 354
    },
    {
        "id": "8ebfafcbcd4786a3",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5fdd2749fb2c97e8",
            "11c3e78450df6f05",
            "dc5a57eb6931fef0",
            "1cde7581e890abab",
            "d3c870a061f0d774",
            "4db103477d4d1838",
            "38f191eb1aa85279",
            "4d1f93f2eee9ec9e"
        ],
        "x": -12,
        "y": 253,
        "w": 1438,
        "h": 654
    },
    {
        "id": "87c54a4648fb23ce",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "HTML Head",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b97bc1c0.cb899",
            "4e9498751983c2f8"
        ],
        "x": 554,
        "y": 59,
        "w": 212,
        "h": 122
    },
    {
        "id": "28cdb4555c1fbb08",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Demande d'authentification  ",
        "style": {
            "stroke": "#a4a4a4",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e77cb200.c630b",
            "1b706a81.3b20f5",
            "838f5114e94bb518",
            "6a1fbffb30a62cda"
        ],
        "x": 234,
        "y": 1979,
        "w": 672,
        "h": 102
    },
    {
        "id": "9819ddd24384cda0",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Recuperation RFID",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "755b9fa70a4e44cc",
            "e3fe615ee7cd854b",
            "5e4d3a08365f8018",
            "050956be26b608e3",
            "2f3e47d1d76e2545",
            "b4076fe405c0dfaf",
            "ff4db2aaebf87a38",
            "99f30a97b7dc889b",
            "296af81cda02565d",
            "85b998e921c22667",
            "211ac3fea9235e5e",
            "e740ce6276434eec",
            "2668323edc922f12",
            "3711cfbe5796c26e",
            "87fd5e2fa8c83ad4",
            "065ec8a3626c11fc"
        ],
        "x": 34,
        "y": 959,
        "w": 1352,
        "h": 262
    },
    {
        "id": "b75c8e8f8250104f",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a7e001b2e755c577",
            "ea6d8cceab59193d",
            "33d0687fbdb6e278",
            "5507011fe103b6ac",
            "53e07c6e45ded627",
            "6b2b91285d5ee909"
        ],
        "x": 1488,
        "y": 813,
        "w": 690,
        "h": 900
    },
    {
        "id": "a7e001b2e755c577",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "140ae190e6a076bf",
            "69695e75f68d02ac"
        ],
        "x": 1514,
        "y": 1513,
        "w": 638,
        "h": 174
    },
    {
        "id": "ea6d8cceab59193d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "68f1a52a7bace804",
            "8897b032ff8177f8"
        ],
        "x": 1514,
        "y": 1313,
        "w": 598,
        "h": 174
    },
    {
        "id": "33d0687fbdb6e278",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7d0d0f6af1c795b2",
            "fa543507d187bd10"
        ],
        "x": 1514,
        "y": 1153,
        "w": 628,
        "h": 134
    },
    {
        "id": "5507011fe103b6ac",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f14aab6f89b6da1a",
            "f4b5ee480366ba24",
            "c1fda23de5a8aa64"
        ],
        "x": 1514,
        "y": 1039,
        "w": 532,
        "h": 82
    },
    {
        "id": "53e07c6e45ded627",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "234a9bf6dd16cd8a"
        ],
        "x": 1514,
        "y": 939,
        "w": 152,
        "h": 82
    },
    {
        "id": "6b2b91285d5ee909",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Notification",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4dfaf71f4e38f495",
            "df3db7124d79dc16"
        ],
        "x": 1514,
        "y": 839,
        "w": 372,
        "h": 82
    },
    {
        "id": "e16af19edd35fa3d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion auto",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "90558f9b056bceb7",
            "0f10804815cb8909",
            "ae3a9d0868370291",
            "af7f183ce8dafc70",
            "197b4331dac17f16",
            "3ba73377816e50b2",
            "37d1f163c8a89f50",
            "f80c2d728df3fa4f",
            "3257a1af4648e098",
            "9ca5417844cd9c7a",
            "a86550f28652d385",
            "a8c25866bdf2ddba"
        ],
        "x": 174,
        "y": 2399,
        "w": 1232,
        "h": 182
    },
    {
        "id": "5fdd2749fb2c97e8",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Erreur ping ",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cb2b9608c57f0f7c",
            "88a40f93cfbacc2e"
        ],
        "x": 884,
        "y": 439,
        "w": 342,
        "h": 82
    },
    {
        "id": "11c3e78450df6f05",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Good ping",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3decf1e37af1b56d",
            "8482a4323d1ba8b1"
        ],
        "x": 874,
        "y": 599,
        "w": 372,
        "h": 82
    },
    {
        "id": "835ea2b341f6f76c",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion manuel ",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "8b8fae707974793d",
            "aee599b54fae5925",
            "f715fc3e0e71471d"
        ],
        "x": 184,
        "y": 2279,
        "w": 582,
        "h": 82
    },
    {
        "id": "dc5a57eb6931fef0",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Système Notification",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "3b753337ef46f343",
            "f285eccb096c3ac7",
            "5774f682efdd4e1f",
            "b84b30b91afbba70",
            "977a7b1851bf9dd3",
            "d42a40412770e13d",
            "c22c82aad37ee205",
            "786431e5ebb3399f",
            "a893ccb5cdfa2da3"
        ],
        "x": 14,
        "y": 479,
        "w": 712,
        "h": 282
    },
    {
        "id": "1cde7581e890abab",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "On/Off Notification",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "63d3213db31e8f74",
            "c5a929feb26d28c7",
            "d5c9c200c6aa1c44",
            "4c0def05a1dda505",
            "c2a9274b101f8aa1",
            "88800d41e789137a",
            "da2ae59fb4c6ecd9"
        ],
        "x": 34,
        "y": 279,
        "w": 812,
        "h": 162
    },
    {
        "id": "d3c870a061f0d774",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Close RFID",
        "style": {
            "label": true,
            "fill": "#ffbfbf",
            "color": "#000000"
        },
        "nodes": [
            "f3d2322a6036f0e6",
            "967e796cb7d1dcb8"
        ],
        "x": 874,
        "y": 699,
        "w": 372,
        "h": 82
    },
    {
        "id": "4db103477d4d1838",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Open RFID",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9f8d32a15d2283e8",
            "eeaf8ac02111cd7e"
        ],
        "x": 874,
        "y": 799,
        "w": 372,
        "h": 82
    },
    {
        "id": "69695e75f68d02ac",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7e001b2e755c577",
        "name": "Définition de la couleur",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5bff56c21c474d4e",
            "6641774841e2de34",
            "af26d2bce05eb321"
        ],
        "x": 1714,
        "y": 1539,
        "w": 412,
        "h": 122
    },
    {
        "id": "8897b032ff8177f8",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "ea6d8cceab59193d",
        "name": "Définition du Nom",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8ac547f8b8b8eb17",
            "8f33358fd390971f",
            "c3bb784ac209c139"
        ],
        "x": 1714,
        "y": 1339,
        "w": 372,
        "h": 122
    },
    {
        "id": "fa543507d187bd10",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "33d0687fbdb6e278",
        "name": "Définition du numero",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2f4bd857cc1f852e",
            "1d7d79794258e0fc"
        ],
        "x": 1714,
        "y": 1179,
        "w": 402,
        "h": 82
    },
    {
        "id": "2fd5db2e1f4be362",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Add data to log ",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "7f4f16d4036b0399",
            "a85e8c5f0fe56a42"
        ],
        "x": 854,
        "y": 1359,
        "w": 372,
        "h": 82
    },
    {
        "id": "d703de119e5097ee",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "get log ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f3a00c3203d49c4a",
            "ae9b2e7ae093ea8d"
        ],
        "x": 434,
        "y": 1559,
        "w": 392,
        "h": 82
    },
    {
        "id": "7319ad82325a1610",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Error ",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bc6b209dc548440d",
            "84103b8300d1d495"
        ],
        "x": 1554,
        "y": 33,
        "w": 558,
        "h": 134
    },
    {
        "id": "84103b8300d1d495",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "Add data to log ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3be5b10c4a60e56f",
            "827caa8b8cd574c3"
        ],
        "x": 1714,
        "y": 59,
        "w": 372,
        "h": 82
    },
    {
        "id": "4064af3e0c1bbc52",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "add_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1350,
        "y": 120,
        "wires": []
    },
    {
        "id": "228ba163cfdbeb1b",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "remove_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1360,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea3dc01b2a48662d",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "topic": "batterie",
        "qos": "0",
        "datatype": "utf8",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7c8794493bd5c324"
            ]
        ]
    },
    {
        "id": "693b5245577c6127",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "code_commande",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1370,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c8794493bd5c324",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "5c4065af834d4824",
                "f33c4610e26a24ce"
            ]
        ]
    },
    {
        "id": "5c4065af834d4824",
        "type": "ui_gauge",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "Batterie",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff04"
        ],
        "seg1": "",
        "seg2": "",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "f33c4610e26a24ce",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b46cf4b15215226b",
        "type": "comment",
        "z": "805c580241bb2718",
        "name": "Code_commande",
        "info": "Ouvrir/Fermer : 1",
        "x": 1150,
        "y": 80,
        "wires": []
    },
    {
        "id": "90558f9b056bceb7",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "topic": "Pong",
        "qos": "2",
        "datatype": "auto",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 2540,
        "wires": [
            [
                "197b4331dac17f16"
            ]
        ]
    },
    {
        "id": "0f10804815cb8909",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "topic": "Ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 490,
        "y": 2540,
        "wires": []
    },
    {
        "id": "ae3a9d0868370291",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "clock 1heur",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 290,
        "y": 2480,
        "wires": [
            [
                "af7f183ce8dafc70",
                "9ca5417844cd9c7a",
                "0f10804815cb8909"
            ]
        ]
    },
    {
        "id": "af7f183ce8dafc70",
        "type": "delay",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 2480,
        "wires": [
            [
                "37d1f163c8a89f50"
            ]
        ]
    },
    {
        "id": "197b4331dac17f16",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "set true",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "3ba73377816e50b2",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 2480,
        "wires": [
            [
                "f80c2d728df3fa4f"
            ],
            [
                "3257a1af4648e098"
            ]
        ]
    },
    {
        "id": "37d1f163c8a89f50",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "get reponse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pong",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 2480,
        "wires": [
            [
                "3ba73377816e50b2"
            ]
        ]
    },
    {
        "id": "f80c2d728df3fa4f",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "good",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "3257a1af4648e098",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "error_ping",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 2500,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca5417844cd9c7a",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "a86550f28652d385",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reture code_Notification",
        "info": "",
        "x": 1280,
        "y": 2500,
        "wires": []
    },
    {
        "id": "5977279d4f5ee3d4",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "b1728ab88fc86a9d",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 460,
        "y": 3180,
        "wires": [
            [
                "fd87ba8a314a9832"
            ]
        ]
    },
    {
        "id": "aeebb55a996e90f9",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "b1728ab88fc86a9d",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM test",
        "x": 260,
        "y": 3180,
        "wires": [
            [
                "5977279d4f5ee3d4"
            ]
        ]
    },
    {
        "id": "fd87ba8a314a9832",
        "type": "debug",
        "z": "805c580241bb2718",
        "g": "b1728ab88fc86a9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 3180,
        "wires": []
    },
    {
        "id": "b77a34da843b7757",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "group": "0c837632a8607faf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Spacer",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb2b9608c57f0f7c",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "5fdd2749fb2c97e8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1130,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "88a40f93cfbacc2e",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "5fdd2749fb2c97e8",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Une erreur est survenue, Veuillez bien vérifier la connectivité avec le bloc de commande",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 480,
        "wires": [
            [
                "cb2b9608c57f0f7c",
                "38f191eb1aa85279"
            ]
        ]
    },
    {
        "id": "73844e3a1f1839f7",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "command": "hostname -I",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 690,
        "y": 2180,
        "wires": [
            [
                "6222e2ce9fbf7a60"
            ],
            [],
            []
        ]
    },
    {
        "id": "6222e2ce9fbf7a60",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "func": "var ip = \"\";\nip = msg.payload;\n\nmsg.payload = \"Adresse IP : \" + ip.split(\" \")[0].toString()\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 2180,
        "wires": [
            [
                "18b517d85ddd5705"
            ]
        ]
    },
    {
        "id": "18b517d85ddd5705",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1030,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "adcd140aa2820cb8",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Adresse IP ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 2180,
        "wires": [
            [
                "e77cb200.c630b"
            ]
        ]
    },
    {
        "id": "a8c25866bdf2ddba",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reture code_Notification",
        "info": "",
        "x": 1240,
        "y": 2460,
        "wires": []
    },
    {
        "id": "3decf1e37af1b56d",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "11c3e78450df6f05",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Test : La connectivité avec le bloc de commande est bonne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 640,
        "wires": [
            [
                "8482a4323d1ba8b1"
            ]
        ]
    },
    {
        "id": "8482a4323d1ba8b1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "11c3e78450df6f05",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1130,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b8fae707974793d",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lancement du test ...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 2320,
        "wires": [
            [
                "f715fc3e0e71471d"
            ]
        ]
    },
    {
        "id": "aee599b54fae5925",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test connexion ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 2320,
        "wires": [
            [
                "9ca5417844cd9c7a",
                "af7f183ce8dafc70",
                "0f10804815cb8909",
                "8b8fae707974793d"
            ]
        ]
    },
    {
        "id": "f715fc3e0e71471d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 650,
        "y": 2320,
        "wires": []
    },
    {
        "id": "3b753337ef46f343",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "topic": "code_alerte",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "f285eccb096c3ac7"
            ]
        ]
    },
    {
        "id": "f285eccb096c3ac7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 560,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "5774f682efdd4e1f",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 650,
        "y": 560,
        "wires": [
            [
                "88a40f93cfbacc2e"
            ],
            [
                "3decf1e37af1b56d"
            ],
            [
                "967e796cb7d1dcb8"
            ],
            [
                "9f8d32a15d2283e8"
            ]
        ]
    },
    {
        "id": "b84b30b91afbba70",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "code_Notification",
        "info": "error ping      : 1\nping good       : 2\nclose RFID      : 3\nopen RFID       : 4",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "977a7b1851bf9dd3",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "error_ping",
        "scope": [
            "3257a1af4648e098"
        ],
        "uncaught": false,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "d42a40412770e13d",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "good_ping",
        "scope": [
            "f80c2d728df3fa4f"
        ],
        "uncaught": false,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "63d3213db31e8f74",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Notifiacation des alerte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "c5a929feb26d28c7"
            ]
        ]
    },
    {
        "id": "c5a929feb26d28c7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "func": "\nif (flow.get(\"onAlerte\")) {\n    flow.set(\"onAlerte\",false)\n    msg.payload = false;\n    return [msg,null];\n}\nelse{\n    flow.set(\"onAlerte\",true);\n    msg.payload = true;\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"onAlerte\", true);\n\n",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "d5c9c200c6aa1c44",
                "88800d41e789137a"
            ],
            [
                "4c0def05a1dda505",
                "88800d41e789137a"
            ]
        ]
    },
    {
        "id": "d5c9c200c6aa1c44",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Les alertes sont désactivées ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 320,
        "wires": [
            [
                "c2a9274b101f8aa1"
            ]
        ]
    },
    {
        "id": "4c0def05a1dda505",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Les alertes sont activées ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 360,
        "wires": [
            [
                "c2a9274b101f8aa1"
            ]
        ]
    },
    {
        "id": "c2a9274b101f8aa1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "c22c82aad37ee205",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "if (  flow.onAlerte )",
        "func": "\nif (flow.get(\"onAlerte\") == true) {\n    return msg ;\n}\n\nreturn msg = null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"onAlerte\",true);",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "5774f682efdd4e1f"
            ]
        ]
    },
    {
        "id": "8ac547f8b8b8eb17",
        "type": "ui_text_input",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "de0704c895d59fa5",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1800,
        "y": 1380,
        "wires": [
            [
                "8f33358fd390971f"
            ]
        ]
    },
    {
        "id": "5bff56c21c474d4e",
        "type": "ui_colour_picker",
        "z": "805c580241bb2718",
        "g": "69695e75f68d02ac",
        "name": "",
        "label": "",
        "group": "de0704c895d59fa5",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 5,
        "width": 1,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1810,
        "y": 1580,
        "wires": [
            [
                "6641774841e2de34"
            ]
        ]
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 660,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e77cb200.c630b",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "name": "Content",
        "func": "return { payload: '<style>input{ -webkit-text-security: disc;}</style> Mots de passe administrateur :'};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 2040,
        "wires": [
            [
                "1b706a81.3b20f5"
            ]
        ]
    },
    {
        "id": "1b706a81.3b20f5",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 2040,
        "wires": [
            [
                "838f5114e94bb518"
            ]
        ]
    },
    {
        "id": "838f5114e94bb518",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "name": "",
        "func": "if (msg.payload == \"Cancel\") {\n    return [null, null];\n}\nif (msg.payload == \"OK\") {\n    return [null, null];\n}\nif (msg.payload == \"nodebleu\") {\n    msg.payload = true;\n    return [msg, null];\n}\nelse {\n    msg.payload = \"Le mot de passe est incorrect\";\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 2040,
        "wires": [
            [
                "73844e3a1f1839f7"
            ],
            [
                "6a1fbffb30a62cda"
            ]
        ]
    },
    {
        "id": "6a1fbffb30a62cda",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "e3fe615ee7cd854b",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Lecture RFID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1140,
        "wires": [
            [
                "755b9fa70a4e44cc",
                "ff4db2aaebf87a38",
                "87fd5e2fa8c83ad4"
            ]
        ]
    },
    {
        "id": "755b9fa70a4e44cc",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "command": "/usr/bin/python3  /home/pi/test.py",
        "addpay": "",
        "append": "10",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "python3  /home/pi/test.py",
        "x": 330,
        "y": 1100,
        "wires": [
            [
                "99f30a97b7dc889b",
                "296af81cda02565d"
            ],
            [],
            []
        ]
    },
    {
        "id": "88800d41e789137a",
        "type": "ui_led",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "order": 6,
        "group": "0c837632a8607faf",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "6641774841e2de34",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "69695e75f68d02ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "poule.rgb",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "5e4d3a08365f8018",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "commende SQL",
        "func": "msg.rfid = msg.payload;\n\nmsg.topic = \"SELECT * FROM Poules WHERE id ='\" + msg.rfid + \"';\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1060,
        "wires": [
            [
                "050956be26b608e3"
            ]
        ]
    },
    {
        "id": "050956be26b608e3",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 980,
        "y": 1060,
        "wires": [
            [
                "2f3e47d1d76e2545"
            ]
        ]
    },
    {
        "id": "2f3e47d1d76e2545",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Set JSON Poule and processing data",
        "func": "var poule;\nif (msg.payload[0] == null) {\n    \n    poule = {\n        id: msg.rfid,\n        name: \"\",\n        rgb: \"rgb(255,255,255)\",\n        numero: 0,\n        thisDate: \"\",\n        thisnew : true\n    }\n\n    flow.set(\"poule\", poule)\n\n    msg.poule = poule;\n\n}\nelse {\n\n    var obj = msg.payload[0];\n    if (obj.rgb == null) { obj.rgb = \"rgb(255,255,255)\" }\n    if (obj.numero == null) { obj.numero = 0 }\n\n    poule = {\n        id: obj.id,\n        name: obj.name,\n        rgb: obj.rgb,\n        numero: obj.numero,\n        thisDate: obj.thisDate,\n        thisnew :false\n\n    }\n\n    flow.set(\"poule\", poule)\n\n    msg.poule = poule;\n\n\n    \n}\n\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"poule\", {\n    id: null,\n    name: null,\n    rgb: null,\n    numero: null,\n    thisDate: null,\n})\n",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1060,
        "wires": [
            [
                "234a9bf6dd16cd8a",
                "f4b5ee480366ba24",
                "7d0d0f6af1c795b2",
                "68f1a52a7bace804",
                "140ae190e6a076bf",
                "4dfaf71f4e38f495"
            ]
        ]
    },
    {
        "id": "140ae190e6a076bf",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "a7e001b2e755c577",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.rgb",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1580,
        "wires": [
            [
                "5bff56c21c474d4e"
            ]
        ]
    },
    {
        "id": "8f33358fd390971f",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "poule.name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "68f1a52a7bace804",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "ea6d8cceab59193d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.name",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1380,
        "wires": [
            [
                "8ac547f8b8b8eb17"
            ]
        ]
    },
    {
        "id": "2f4bd857cc1f852e",
        "type": "ui_numeric",
        "z": "805c580241bb2718",
        "g": "fa543507d187bd10",
        "name": "",
        "label": "numéro",
        "tooltip": "valeur optionnel",
        "group": "de0704c895d59fa5",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "999",
        "step": 1,
        "className": "",
        "x": 1800,
        "y": 1220,
        "wires": [
            [
                "1d7d79794258e0fc"
            ]
        ]
    },
    {
        "id": "1d7d79794258e0fc",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "fa543507d187bd10",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "poule.numero",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0d0f6af1c795b2",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "33d0687fbdb6e278",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.numero",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1220,
        "wires": [
            [
                "2f4bd857cc1f852e"
            ]
        ]
    },
    {
        "id": "f14aab6f89b6da1a",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "group": "de0704c895d59fa5",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "enregistrer ",
        "label": "Enregistrer le :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1950,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f4b5ee480366ba24",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.thisDate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1620,
        "y": 1080,
        "wires": [
            [
                "c1fda23de5a8aa64"
            ]
        ]
    },
    {
        "id": "c1fda23de5a8aa64",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "name": "",
        "func": "\nif (msg.payload == \"\") { \n    return msg\n}\n\nvar date = new Date(msg.payload);\n\nmsg.payload = date.toLocaleString('fr-FR',{\n    year:'numeric',\n    month:'numeric',\n    day:'numeric',\n    hour:'numeric',\n    minute:'numeric',\n    second:'numeric',\n});\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 1080,
        "wires": [
            [
                "f14aab6f89b6da1a"
            ]
        ]
    },
    {
        "id": "234a9bf6dd16cd8a",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "53e07c6e45ded627",
        "group": "de0704c895d59fa5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ID : ",
        "format": "{{msg.rfid}}",
        "layout": "row-spread",
        "className": "",
        "x": 1590,
        "y": 980,
        "wires": []
    },
    {
        "id": "4dfaf71f4e38f495",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Lecture des informations",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 880,
        "wires": [
            [
                "df3db7124d79dc16"
            ]
        ]
    },
    {
        "id": "df3db7124d79dc16",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1770,
        "y": 880,
        "wires": []
    },
    {
        "id": "af26d2bce05eb321",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "69695e75f68d02ac",
        "group": "de0704c895d59fa5",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "Couleur text",
        "label": "Couleur bague:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1810,
        "y": 1620,
        "wires": []
    },
    {
        "id": "c3bb784ac209c139",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "group": "de0704c895d59fa5",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "Nom text",
        "label": "Nom:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1810,
        "y": 1420,
        "wires": []
    },
    {
        "id": "4e9498751983c2f8",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "0c837632a8607faf",
        "name": "scrollbar",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n    ::-webkit-scrollbar {\n    width:10px; /* la taille de la scrollbar*/\n    }\n    \n    ::-webkit-scrollbar-track {\n    padding: 2px 0;\n    background-color: rgb(0,0,0); /* couleur de fond de la scrollbar */\n    }\n    \n    \n    ::-webkit-scrollbar-thumb {\n    background-color: rgb(75,121,48); /* Couleur de la scrollbar */\n    \n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ff4db2aaebf87a38",
        "type": "ui_led",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "order": 10,
        "group": "de0704c895d59fa5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "",
        "x": 650,
        "y": 1140,
        "wires": []
    },
    {
        "id": "296af81cda02565d",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "2668323edc922f12"
            ],
            [
                "85b998e921c22667"
            ]
        ]
    },
    {
        "id": "b4076fe405c0dfaf",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "755b9fa70a4e44cc"
            ]
        ]
    },
    {
        "id": "99f30a97b7dc889b",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "set false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1100,
        "wires": [
            [
                "ff4db2aaebf87a38"
            ]
        ]
    },
    {
        "id": "85b998e921c22667",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1060,
        "wires": [
            [
                "211ac3fea9235e5e",
                "5e4d3a08365f8018"
            ]
        ]
    },
    {
        "id": "211ac3fea9235e5e",
        "type": "debug",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 1100,
        "wires": []
    },
    {
        "id": "0a71111d04563e3a",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Rajoute",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "4c708050d4368b5e",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Enleve",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "e740ce6276434eec",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "close to 10s",
        "info": "",
        "x": 300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "786431e5ebb3399f",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "close RFID",
        "scope": [
            "2668323edc922f12"
        ],
        "uncaught": false,
        "x": 280,
        "y": 680,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "2668323edc922f12",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "close RFID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "967e796cb7d1dcb8",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "d3c870a061f0d774",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Arrêt de la lecture RFID",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 740,
        "wires": [
            [
                "f3d2322a6036f0e6"
            ]
        ]
    },
    {
        "id": "f3d2322a6036f0e6",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "d3c870a061f0d774",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "3711cfbe5796c26e",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "return code_Notification",
        "info": "",
        "x": 840,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a893ccb5cdfa2da3",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "open RFID",
        "scope": [
            "87fd5e2fa8c83ad4"
        ],
        "uncaught": false,
        "x": 280,
        "y": 720,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "9f8d32a15d2283e8",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "4db103477d4d1838",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lencement du lecteur RFID",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 840,
        "wires": [
            [
                "eeaf8ac02111cd7e"
            ]
        ]
    },
    {
        "id": "eeaf8ac02111cd7e",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "4db103477d4d1838",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1130,
        "y": 840,
        "wires": []
    },
    {
        "id": "87fd5e2fa8c83ad4",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Open RFID",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "065ec8a3626c11fc",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "return code_Notification",
        "info": "",
        "x": 480,
        "y": 1180,
        "wires": []
    },
    {
        "id": "da2ae59fb4c6ecd9",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "88800d41e789137a"
            ]
        ]
    },
    {
        "id": "900122880a116110",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Modifie",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "7f4f16d4036b0399",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "2fd5db2e1f4be362",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1140,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "a85e8c5f0fe56a42",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "2fd5db2e1f4be362",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 970,
        "y": 1400,
        "wires": [
            [
                "7f4f16d4036b0399"
            ]
        ]
    },
    {
        "id": "f3a00c3203d49c4a",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "d703de119e5097ee",
        "name": "SELECT * FROM log ",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM log ",
        "output": "str",
        "x": 560,
        "y": 1600,
        "wires": [
            [
                "ae9b2e7ae093ea8d"
            ]
        ]
    },
    {
        "id": "ae9b2e7ae093ea8d",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "d703de119e5097ee",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 740,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "bc6b209dc548440d",
        "type": "catch",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1640,
        "y": 100,
        "wires": [
            [
                "3be5b10c4a60e56f"
            ]
        ]
    },
    {
        "id": "827caa8b8cd574c3",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "84103b8300d1d495",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 2000,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3be5b10c4a60e56f",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "84103b8300d1d495",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 1830,
        "y": 100,
        "wires": [
            [
                "827caa8b8cd574c3"
            ]
        ]
    },
    {
        "id": "4d1f93f2eee9ec9e",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "38f191eb1aa85279",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "INSERT INTO log",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 1170,
        "y": 560,
        "wires": [
            [
                "4d1f93f2eee9ec9e"
            ]
        ]
    },
    {
        "id": "e03c76635e962464",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "2361f5cc7cde3379",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "bfc16e3db1d150ce",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "de0704c895d59fa5",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "e30867a57b4d213f",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c837632a8607faf",
        "type": "ui_group",
        "name": "Status",
        "tab": "822227a0f92f6265",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "444ff6d77b0f6d5e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "centraldb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "de0704c895d59fa5",
        "type": "ui_group",
        "name": "Forme",
        "tab": "b54b20cf8cc54690",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2361f5cc7cde3379",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "822227a0f92f6265",
        "type": "ui_tab",
        "name": "Administration ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b54b20cf8cc54690",
        "type": "ui_tab",
        "name": "Poulailler",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]