BTS poulailler/node red save 09-05-22.json
[
    {
        "id": "805c580241bb2718",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95acc834831e46e7",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Batterie",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ea3dc01b2a48662d",
            "7c8794493bd5c324",
            "7bc8ca9e8f15ed7f",
            "f90f20cae0862fc3",
            "8b6490e520ef046a",
            "6d5b8b2a5ce0381d",
            "9fdfae605359aca6",
            "c3fa475cde5e7bd9",
            "29f4455afda12899"
        ],
        "x": 14,
        "y": 2233,
        "w": 1058,
        "h": 234
    },
    {
        "id": "a7b312f2d6da2fb3",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Get IP",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "73844e3a1f1839f7",
            "6222e2ce9fbf7a60",
            "adcd140aa2820cb8",
            "9c19104544462ab3",
            "5fb3c8e9d8922b77",
            "4c43f9cc05307086"
        ],
        "x": 14,
        "y": 2473,
        "w": 1378,
        "h": 274
    },
    {
        "id": "647514d9b6ed8ee2",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e16af19edd35fa3d",
            "a96d400f13ee1662"
        ],
        "x": 8,
        "y": 3167,
        "w": 1290,
        "h": 486
    },
    {
        "id": "87c54a4648fb23ce",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "HTML Head",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b97bc1c0.cb899",
            "4e9498751983c2f8",
            "a8a10cc2.9d0ae"
        ],
        "x": 2494,
        "y": 19,
        "w": 212,
        "h": 162
    },
    {
        "id": "9819ddd24384cda0",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Recuperation RFID",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "e3fe615ee7cd854b",
            "5e4d3a08365f8018",
            "050956be26b608e3",
            "2f3e47d1d76e2545",
            "ff4db2aaebf87a38",
            "99f30a97b7dc889b",
            "296af81cda02565d",
            "85b998e921c22667",
            "6ce97152d3f5f487",
            "2d18a4e5c0dd03da",
            "1c485132c0f7b26f"
        ],
        "x": 24,
        "y": 13,
        "w": 1402,
        "h": 374
    },
    {
        "id": "b75c8e8f8250104f",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Forme ",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "ea6d8cceab59193d",
            "33d0687fbdb6e278",
            "5507011fe103b6ac",
            "53e07c6e45ded627",
            "6b2b91285d5ee909",
            "1985c4e449851c4d"
        ],
        "x": 1548,
        "y": 13,
        "w": 900,
        "h": 794
    },
    {
        "id": "7319ad82325a1610",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Error ",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bc6b209dc548440d",
            "84103b8300d1d495",
            "fcafb8826453c56e",
            "dc901a6f65c399bb"
        ],
        "x": 2954,
        "y": 3313,
        "w": 932,
        "h": 134
    },
    {
        "id": "568846b3235c167f",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Log",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "ff4ba0c13802caad",
            "d703de119e5097ee",
            "480402cb51c2783e",
            "12768eebacab81ab",
            "6ac1c475f4e21404",
            "42f7c1e5ba2f97fc"
        ],
        "x": 24,
        "y": 2013,
        "w": 1408,
        "h": 214
    },
    {
        "id": "6a178380e6f6a626",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Tableux",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f0bfb950882267d6",
            "be02c0b9a84e5a7a",
            "68217be081bdd169",
            "e035aadfb9895a35",
            "4e4446fb7fbea02f",
            "1bd7024b5e1a6ae5",
            "7a89038a32db7892"
        ],
        "x": 14,
        "y": 393,
        "w": 878,
        "h": 148
    },
    {
        "id": "5e2f7f95335b353e",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Rajoute une poule",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5955a7e28a37623f",
            "0f320d449667492c",
            "f75bd782d0a80335",
            "193961d698105b2a",
            "9e5762cad439fa0e",
            "575c2ca30204782f",
            "9112164fc44755d2",
            "aedede7cb4dfa39f"
        ],
        "x": 28,
        "y": 873,
        "w": 2444,
        "h": 494
    },
    {
        "id": "cf6d5d8de60acfc5",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Enleve une poule",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4c708050d4368b5e",
            "e731e576123da0a4",
            "54f9e1bbf110b28b",
            "aa313c66d72a304b",
            "d0a0e32641e19533",
            "c4a6d979ad810471",
            "4228a65ce76f94c6",
            "36ed1aa10688f330",
            "d8f55d5e04d5ba69",
            "26894f66638d7543"
        ],
        "x": 14,
        "y": 1373,
        "w": 2338,
        "h": 480
    },
    {
        "id": "636581ac168befa3",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Modifie une poule ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "900122880a116110",
            "e0b6bcbdf429836e",
            "3e465f358a1c8873",
            "b1c4fb62f965bd78",
            "94f2b4c5f8fe9a41"
        ],
        "x": 14,
        "y": 693,
        "w": 1278,
        "h": 174
    },
    {
        "id": "557006cc076a8df2",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Sélection par le tableux",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "051023dfbfbb6407"
        ],
        "x": 914,
        "y": 419,
        "w": 232,
        "h": 82
    },
    {
        "id": "52e51f873d080c35",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Reste ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "dc8b50c05afee566",
            "ceffe6e0f58844e8"
        ],
        "x": 1174,
        "y": 419,
        "w": 352,
        "h": 82
    },
    {
        "id": "dc5a57eb6931fef0",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Système Notification",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "3b753337ef46f343",
            "f285eccb096c3ac7",
            "5774f682efdd4e1f",
            "b84b30b91afbba70",
            "6aaa8838e03459df"
        ],
        "x": 14,
        "y": 3019,
        "w": 832,
        "h": 137
    },
    {
        "id": "1cde7581e890abab",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "On/Off Notification",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "63d3213db31e8f74",
            "c5a929feb26d28c7",
            "88800d41e789137a",
            "da2ae59fb4c6ecd9",
            "7c7e179305eca2e6",
            "b2f154d9e1177a7c",
            "7b9022f8e8edef7d",
            "b3e440718d96f965"
        ],
        "x": 14,
        "y": 2753,
        "w": 1078,
        "h": 254
    },
    {
        "id": "50668003f5802e66",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Coucher/Lever du soleil ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2fddeab3f3832f22",
            "4e143ad375bd48f6",
            "f60e520bad1d9a7c",
            "5fbe93f46edee6c9",
            "3ce657fe69fa0172",
            "f157981bd1c03316",
            "a8ce60d08c0abe1c"
        ],
        "x": 14,
        "y": 3659,
        "w": 1232,
        "h": 82
    },
    {
        "id": "ae87f45d733ac675",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Alerte sonore",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9d0d04b0b7243b92",
            "a09138981cf8a7ed",
            "5a446165f19209ed",
            "a35957615d84439d",
            "fec24e0404308daa"
        ],
        "x": 14,
        "y": 3759,
        "w": 852,
        "h": 82
    },
    {
        "id": "71d6fa7864b78d2f",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Frome Leve/Couche du soleil ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a73faa76415c02b5",
            "1a9b7722c8a474e5",
            "e1d11e967328e133",
            "e6a9fd382a29b4f4",
            "5dde7340d5b122e6"
        ],
        "x": 8,
        "y": 3853,
        "w": 684,
        "h": 774
    },
    {
        "id": "d0874065aed7de0c",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Reload",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "4b2a9e2622545494",
            "bb83a854dee008cd",
            "902b133569af451b",
            "014b13199e7fe606",
            "4434fc3623d4b622",
            "a55ac57193a109b4"
        ],
        "x": 14,
        "y": 4639,
        "w": 1312,
        "h": 208
    },
    {
        "id": "0df689b464193a8f",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "information",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "93981a0bbcd55ea1",
            "24ab5193293b36f7",
            "b328bde8dd012fe6",
            "6916552ee1b2f931"
        ],
        "x": 714,
        "y": 3853,
        "w": 698,
        "h": 574
    },
    {
        "id": "303f67625aea85bc",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "numero",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "5126204cfbd3dafc",
            "5fefc1756c2286e8",
            "26e4c9960d1c3f8e",
            "0fce65358dce9cfc",
            "778a74ef4d6243f2",
            "68e412585563ec6d",
            "c44b52b1ce6db34e",
            "7fcb6d9b6d980789"
        ],
        "x": 14,
        "y": 559,
        "w": 1142,
        "h": 122
    },
    {
        "id": "ea6d8cceab59193d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Nom",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "68f1a52a7bace804",
            "8897b032ff8177f8"
        ],
        "x": 1574,
        "y": 473,
        "w": 778,
        "h": 174
    },
    {
        "id": "33d0687fbdb6e278",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Numéro",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7d0d0f6af1c795b2",
            "fa543507d187bd10"
        ],
        "x": 1574,
        "y": 333,
        "w": 848,
        "h": 134
    },
    {
        "id": "5507011fe103b6ac",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Date",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f14aab6f89b6da1a",
            "f4b5ee480366ba24",
            "c1fda23de5a8aa64"
        ],
        "x": 1574,
        "y": 239,
        "w": 652,
        "h": 82
    },
    {
        "id": "53e07c6e45ded627",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "ID ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "234a9bf6dd16cd8a",
            "fba792433f6238bb"
        ],
        "x": 1574,
        "y": 139,
        "w": 412,
        "h": 82
    },
    {
        "id": "6b2b91285d5ee909",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "df3db7124d79dc16",
            "169870c1951eaa11",
            "7a291c65cd52c7c2"
        ],
        "x": 1574,
        "y": 39,
        "w": 552,
        "h": 82
    },
    {
        "id": "e16af19edd35fa3d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion auto",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "90558f9b056bceb7",
            "0f10804815cb8909",
            "ae3a9d0868370291",
            "af7f183ce8dafc70",
            "197b4331dac17f16",
            "3ba73377816e50b2",
            "9ca5417844cd9c7a",
            "0c2352a7d0fc9a89",
            "6d144252e21a0548"
        ],
        "x": 34,
        "y": 3353,
        "w": 1238,
        "h": 274
    },
    {
        "id": "d703de119e5097ee",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "get log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f3a00c3203d49c4a",
            "ae9b2e7ae093ea8d"
        ],
        "x": 594,
        "y": 2039,
        "w": 372,
        "h": 82
    },
    {
        "id": "84103b8300d1d495",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "Add data to log ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3be5b10c4a60e56f",
            "827caa8b8cd574c3"
        ],
        "x": 3154,
        "y": 3339,
        "w": 372,
        "h": 82
    },
    {
        "id": "c4a6d979ad810471",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b0e525dbd329e672",
            "2b5deed04d555771"
        ],
        "x": 354,
        "y": 1659,
        "w": 372,
        "h": 82
    },
    {
        "id": "4228a65ce76f94c6",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Avertissement",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9d134a66ea0e562b",
            "e53aea8a305473d3",
            "2daa811ebdfba515"
        ],
        "x": 494,
        "y": 1499,
        "w": 572,
        "h": 82
    },
    {
        "id": "36ed1aa10688f330",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a1aa94af6610700a",
            "f98b682badaf6d9c",
            "9b111f5ed35af9aa"
        ],
        "x": 1774,
        "y": 1499,
        "w": 552,
        "h": 82
    },
    {
        "id": "94f2b4c5f8fe9a41",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ba431b7706d5c630",
            "8ffa7ab7d217f3af",
            "0fe50ddbe7a852c0",
            "b5266c492f974bb2",
            "31ea0afea8766ae1"
        ],
        "x": 714,
        "y": 719,
        "w": 552,
        "h": 122
    },
    {
        "id": "9c19104544462ab3",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "Authentification",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "1b706a81.3b20f5",
            "838f5114e94bb518",
            "6a1fbffb30a62cda",
            "14ebacbde577c537"
        ],
        "x": 194,
        "y": 2619,
        "w": 732,
        "h": 102
    },
    {
        "id": "5fb3c8e9d8922b77",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "18b517d85ddd5705"
        ],
        "x": 994,
        "y": 2599,
        "w": 192,
        "h": 82
    },
    {
        "id": "4c43f9cc05307086",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "Add log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "67ed016ef346444e",
            "cdb7bc27e3868456"
        ],
        "x": 994,
        "y": 2499,
        "w": 372,
        "h": 82
    },
    {
        "id": "12768eebacab81ab",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "Displate",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "501beae42599466e",
            "64c7dc5c1e8c2908"
        ],
        "x": 1014,
        "y": 2039,
        "w": 392,
        "h": 82
    },
    {
        "id": "6ac1c475f4e21404",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "Delete log",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "91e9e87a22c03651",
            "8fca8aaa8ceedb29"
        ],
        "x": 214,
        "y": 2119,
        "w": 372,
        "h": 82
    },
    {
        "id": "e035aadfb9895a35",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "Displate",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f7560f01eb413def",
            "6e780dd979bcec24"
        ],
        "x": 534,
        "y": 419,
        "w": 332,
        "h": 82
    },
    {
        "id": "6ce97152d3f5f487",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b66fa5a4a6d85200",
            "a4fab9d5f902b055"
        ],
        "x": 234,
        "y": 279,
        "w": 372,
        "h": 82
    },
    {
        "id": "2d18a4e5c0dd03da",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "execution progamme RFID",
        "style": {
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "755b9fa70a4e44cc",
            "e740ce6276434eec"
        ],
        "x": 214,
        "y": 119,
        "w": 272,
        "h": 129.5
    },
    {
        "id": "1c485132c0f7b26f",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bf5bc1ac374a2895",
            "7eb17b191ebb7aa8"
        ],
        "x": 614,
        "y": 39,
        "w": 372,
        "h": 82
    },
    {
        "id": "1985c4e449851c4d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "b75c8e8f8250104f",
        "name": "Text imput",
        "style": {
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "09d62b99c946f92c",
            "6a0fc35995231d9c",
            "15d0d2e46981435c",
            "0e342f77a725c426"
        ],
        "x": 1574,
        "y": 659,
        "w": 792,
        "h": 122
    },
    {
        "id": "7c7e179305eca2e6",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "Add log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "a3403886dd3040bb",
            "4792d77573569a44"
        ],
        "x": 694,
        "y": 2899,
        "w": 372,
        "h": 82
    },
    {
        "id": "b2f154d9e1177a7c",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "Notification",
        "style": {
            "label": true,
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "c2a9274b101f8aa1"
        ],
        "x": 694,
        "y": 2779,
        "w": 232,
        "h": 82
    },
    {
        "id": "f90f20cae0862fc3",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "Add log ",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "7d1eb8fa5f9409a9",
            "93dedf175000e308"
        ],
        "x": 674,
        "y": 2359,
        "w": 372,
        "h": 82
    },
    {
        "id": "8b6490e520ef046a",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9864e6e3d51ab153",
            "7cc2e24b620ba90d"
        ],
        "x": 674,
        "y": 2259,
        "w": 332,
        "h": 82
    },
    {
        "id": "a96d400f13ee1662",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion manuelle",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "aee599b54fae5925",
            "0d47dd58cfcb9dde"
        ],
        "x": 34,
        "y": 3193,
        "w": 658,
        "h": 134
    },
    {
        "id": "a73faa76415c02b5",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "71d6fa7864b78d2f",
        "name": "changement singe",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "24fa04848b8d4843",
            "2fd9e4e13eae934d",
            "e5f531160dc41da4",
            "0cff861ac5416f40"
        ],
        "x": 34,
        "y": 4159,
        "w": 332,
        "h": 122
    },
    {
        "id": "1a9b7722c8a474e5",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "71d6fa7864b78d2f",
        "name": "recuperation et envoit",
        "style": {
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "c5ef4bbbc23794f8",
            "988923bb96704f28",
            "9a2d87da3fe7e541",
            "9e7dd447d58bfe5d",
            "84b62cf244881787",
            "5f88124a83e9bb6c",
            "5b3294d984039e46"
        ],
        "x": 34,
        "y": 4299,
        "w": 632,
        "h": 162
    },
    {
        "id": "e1d11e967328e133",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "71d6fa7864b78d2f",
        "name": "affichage leve/coucher du soleil",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8399fd44d5533a3b",
            "3bc8b091cf46cfcf",
            "d3b1b9d617ecab07",
            "26ab0fcbbefd3538"
        ],
        "x": 34,
        "y": 3879,
        "w": 512,
        "h": 122
    },
    {
        "id": "e6a9fd382a29b4f4",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "71d6fa7864b78d2f",
        "name": "text",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "284c9087670d7cb2",
            "e961ed0dd8e8655b"
        ],
        "x": 34,
        "y": 4019,
        "w": 392,
        "h": 122
    },
    {
        "id": "5dde7340d5b122e6",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "71d6fa7864b78d2f",
        "name": "calcul et affichage",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "df8925caa26721f7",
            "d54eec8b6da2661c",
            "6b8d44c70c4f0421",
            "acf69c8c3cacce38",
            "8a2cf156c0a96d50",
            "e6478fc2952aba3e"
        ],
        "x": 34,
        "y": 4479,
        "w": 632,
        "h": 122
    },
    {
        "id": "a55ac57193a109b4",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "d0874065aed7de0c",
        "name": "Authentification",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d145c38bfadc4ca8",
            "484488a2360c8f93",
            "59c6987a280f253f",
            "e31db24cb4dd3823"
        ],
        "x": 234,
        "y": 4719,
        "w": 712,
        "h": 102
    },
    {
        "id": "24ab5193293b36f7",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "0df689b464193a8f",
        "name": "horaires",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f7a64c0426a285bf",
            "0135d0dcd0c97999"
        ],
        "x": 914,
        "y": 4319,
        "w": 472,
        "h": 82
    },
    {
        "id": "b328bde8dd012fe6",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "0df689b464193a8f",
        "name": "poulailler",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0c6a5db99efe514b",
            "159705ba1965f04e",
            "1db5d2ee400cf485",
            "5267bc5c1793935d"
        ],
        "x": 914,
        "y": 4179,
        "w": 332,
        "h": 122
    },
    {
        "id": "6916552ee1b2f931",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "0df689b464193a8f",
        "name": "administration",
        "style": {
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "31c2d6e3f005b8f2",
            "a4acd61b0366a452",
            "72fc557157d9abcd",
            "3f4107ca0829dfb1",
            "07c25d0dee70d741",
            "b35aaaac606d1190",
            "0ff1e510cf44911c",
            "4161819f38233906",
            "12bcd7b712f3a6fd",
            "3d5a5c6ac1341428",
            "490d2014ea54607c",
            "f25eedab1023716b"
        ],
        "x": 904,
        "y": 3879,
        "w": 372,
        "h": 282
    },
    {
        "id": "f75bd782d0a80335",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "notification",
        "style": {
            "stroke": "#777777",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2024281cd9f050be",
            "a975db368222c4af",
            "45c373b3679103d0",
            "529c30de70b1a4c8"
        ],
        "x": 634,
        "y": 1219,
        "w": 372,
        "h": 122
    },
    {
        "id": "d8f55d5e04d5ba69",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "test connection",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "fill": "#ffefbf",
            "color": "#000000"
        },
        "nodes": [
            "fbc63b28b102d38b",
            "d5323237e42f803d",
            "a98b731dbcc096cf",
            "627f1a828de16b4c",
            "55d004e8d13b873d",
            "dd2c1bd9ca94b13f"
        ],
        "x": 1054,
        "y": 1593,
        "w": 958,
        "h": 234
    },
    {
        "id": "193961d698105b2a",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "test connection",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "379901c0da9bcd66",
            "334e790b09cd698b",
            "ee81712591aafdf9",
            "5224d7079942b9ce",
            "2ff076ee960d5317",
            "351bf8b801085b6a"
        ],
        "x": 1034,
        "y": 1093,
        "w": 878,
        "h": 234
    },
    {
        "id": "c3fa475cde5e7bd9",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "icon batterie",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b7ac0dbe3b97bb9e",
            "1636d7acdd2978b4",
            "52a8dfff667b49dd"
        ],
        "x": 134,
        "y": 2359,
        "w": 492,
        "h": 82
    },
    {
        "id": "9e5762cad439fa0e",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3da246ea47f01e51",
            "a7a2ed0f5dbff2e9",
            "580dd8d235d69ed4"
        ],
        "x": 1734,
        "y": 999,
        "w": 712,
        "h": 82
    },
    {
        "id": "575c2ca30204782f",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "Message MQTT",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "49c1fa327b180f5c",
            "ace545be5a7c3914"
        ],
        "x": 1734,
        "y": 899,
        "w": 432,
        "h": 82
    },
    {
        "id": "26894f66638d7543",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Message MQTT",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bb723b10cb1a5770",
            "c85f87d80a57ed0d"
        ],
        "x": 1774,
        "y": 1399,
        "w": 452,
        "h": 82
    },
    {
        "id": "9112164fc44755d2",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "Bouton",
        "style": {
            "fill": "#bfc7d7",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "0a71111d04563e3a"
        ],
        "x": 54,
        "y": 1119,
        "w": 172,
        "h": 82
    },
    {
        "id": "aedede7cb4dfa39f",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "basse de donne",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "447200486d70a95a",
            "a4074e47369ca155"
        ],
        "x": 1294,
        "y": 999,
        "w": 412,
        "h": 82
    },
    {
        "id": "8897b032ff8177f8",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "ea6d8cceab59193d",
        "name": "Définition du Nom",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8ac547f8b8b8eb17",
            "8f33358fd390971f",
            "c3bb784ac209c139"
        ],
        "x": 1874,
        "y": 499,
        "w": 452,
        "h": 122
    },
    {
        "id": "fa543507d187bd10",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "33d0687fbdb6e278",
        "name": "Définition du numero",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2f4bd857cc1f852e",
            "1d7d79794258e0fc"
        ],
        "x": 1914,
        "y": 359,
        "w": 482,
        "h": 82
    },
    {
        "id": "0c2352a7d0fc9a89",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "add log",
        "style": {
            "fill": "#ffefbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "24fd476908ee1530",
            "add28a59365ae480"
        ],
        "x": 874,
        "y": 3519,
        "w": 372,
        "h": 82
    },
    {
        "id": "6d144252e21a0548",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "Notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c41546e54d83eef9",
            "7cb5cf9ac1512fe0",
            "94603c86e4f5572f",
            "c2c006841585cf35"
        ],
        "x": 674,
        "y": 3379,
        "w": 372,
        "h": 122
    },
    {
        "id": "0d47dd58cfcb9dde",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "a96d400f13ee1662",
        "name": "Notification ",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "f715fc3e0e71471d",
            "a960eed832e8de15"
        ],
        "x": 274,
        "y": 3219,
        "w": 392,
        "h": 82
    },
    {
        "id": "55d004e8d13b873d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "d8f55d5e04d5ba69",
        "name": "notification",
        "style": {
            "stroke": "#a4a4a4",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "455a16d73bccb185",
            "f704abe5860563e6"
        ],
        "x": 1394,
        "y": 1619,
        "w": 332,
        "h": 82
    },
    {
        "id": "dd2c1bd9ca94b13f",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "d8f55d5e04d5ba69",
        "name": "add log ",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "58a41d6a848df2a1",
            "783f433148544eaa"
        ],
        "x": 1594,
        "y": 1719,
        "w": 392,
        "h": 82
    },
    {
        "id": "2ff076ee960d5317",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "193961d698105b2a",
        "name": "notification",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000",
            "stroke": "#a4a4a4"
        },
        "nodes": [
            "52c5401159850f9e",
            "70c9e377580d8ba8"
        ],
        "x": 1334,
        "y": 1119,
        "w": 352,
        "h": 82
    },
    {
        "id": "351bf8b801085b6a",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "193961d698105b2a",
        "name": "add log",
        "style": {
            "label": true,
            "color": "#000000",
            "stroke": "#a4a4a4"
        },
        "nodes": [
            "12f4c809acd1ea7f",
            "bf94296963a9e027"
        ],
        "x": 1514,
        "y": 1219,
        "w": 372,
        "h": 82
    },
    {
        "id": "ea3dc01b2a48662d",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "batterie",
        "topic": "BTSpoulailler2022/batterie",
        "qos": "0",
        "datatype": "utf8",
        "broker": "77bbf09a988418ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 2320,
        "wires": [
            [
                "7c8794493bd5c324"
            ]
        ]
    },
    {
        "id": "7c8794493bd5c324",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 2320,
        "wires": [
            [
                "6d5b8b2a5ce0381d",
                "9fdfae605359aca6"
            ]
        ]
    },
    {
        "id": "90558f9b056bceb7",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "pong",
        "topic": "BTSpoulailler2022/pong",
        "qos": "2",
        "datatype": "auto",
        "broker": "77bbf09a988418ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 3520,
        "wires": [
            [
                "197b4331dac17f16"
            ]
        ]
    },
    {
        "id": "0f10804815cb8909",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "ping",
        "topic": "BTSpoulailler2022/ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 350,
        "y": 3520,
        "wires": []
    },
    {
        "id": "ae3a9d0868370291",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "clock 2heur",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7200",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 150,
        "y": 3460,
        "wires": [
            [
                "af7f183ce8dafc70",
                "9ca5417844cd9c7a",
                "0f10804815cb8909"
            ]
        ]
    },
    {
        "id": "af7f183ce8dafc70",
        "type": "delay",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 3460,
        "wires": [
            [
                "3ba73377816e50b2"
            ]
        ]
    },
    {
        "id": "197b4331dac17f16",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "flow.pong = true",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 3520,
        "wires": [
            []
        ]
    },
    {
        "id": "3ba73377816e50b2",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "property": "pong",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 3460,
        "wires": [
            [
                "c41546e54d83eef9"
            ],
            [
                "c2c006841585cf35"
            ]
        ]
    },
    {
        "id": "9ca5417844cd9c7a",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "flow.pong = false",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 3420,
        "wires": [
            []
        ]
    },
    {
        "id": "73844e3a1f1839f7",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "command": "hostname -I",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 730,
        "y": 2580,
        "wires": [
            [
                "6222e2ce9fbf7a60"
            ],
            [],
            []
        ]
    },
    {
        "id": "6222e2ce9fbf7a60",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "set IP to string",
        "func": "var ip = \"\";\nip = msg.payload;\n\nmsg.payload = \"Adresse IP : \" + ip.split(\" \")[0].toString()\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 2580,
        "wires": [
            [
                "18b517d85ddd5705",
                "67ed016ef346444e"
            ]
        ]
    },
    {
        "id": "18b517d85ddd5705",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "5fb3c8e9d8922b77",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1090,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "adcd140aa2820cb8",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Adresse IP ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 2660,
        "wires": [
            [
                "14ebacbde577c537"
            ]
        ]
    },
    {
        "id": "aee599b54fae5925",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "a96d400f13ee1662",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test connexion ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 3260,
        "wires": [
            [
                "9ca5417844cd9c7a",
                "af7f183ce8dafc70",
                "0f10804815cb8909",
                "a960eed832e8de15"
            ]
        ]
    },
    {
        "id": "f715fc3e0e71471d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "0d47dd58cfcb9dde",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 550,
        "y": 3260,
        "wires": []
    },
    {
        "id": "3b753337ef46f343",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "topic": "BTSpoulailler2022/code_alerte",
        "qos": "2",
        "datatype": "utf8",
        "broker": "77bbf09a988418ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 3100,
        "wires": [
            [
                "f285eccb096c3ac7"
            ]
        ]
    },
    {
        "id": "f285eccb096c3ac7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 3100,
        "wires": [
            [
                "6aaa8838e03459df"
            ]
        ]
    },
    {
        "id": "5774f682efdd4e1f",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 3100,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b84b30b91afbba70",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "code_Notification",
        "info": "",
        "x": 120,
        "y": 3060,
        "wires": []
    },
    {
        "id": "63d3213db31e8f74",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Notifiacation des alerte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 2880,
        "wires": [
            [
                "c5a929feb26d28c7"
            ]
        ]
    },
    {
        "id": "c5a929feb26d28c7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "inverseur d'etat",
        "func": "\nif (flow.get(\"onAlerte\")) {\n    flow.set(\"onAlerte\",false)\n    msg.payload = false;\n    return [msg,null];\n}\nelse{\n    flow.set(\"onAlerte\",true);\n    msg.payload = true;\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"onAlerte\", true);\n\n",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2880,
        "wires": [
            [
                "88800d41e789137a",
                "b3e440718d96f965"
            ],
            [
                "88800d41e789137a",
                "7b9022f8e8edef7d"
            ]
        ]
    },
    {
        "id": "c2a9274b101f8aa1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "b2f154d9e1177a7c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 2820,
        "wires": []
    },
    {
        "id": "8ac547f8b8b8eb17",
        "type": "ui_text_input",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "de0704c895d59fa5",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1960,
        "y": 540,
        "wires": [
            [
                "8f33358fd390971f"
            ]
        ]
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/ id=\"clock\">');\n    var p = $('<p/ >');\n    var t = $('<p/>');\n    var i = $('<img/ src=\"https://img.icons8.com/ios-glyphs/30/ffffff/car-battery.png\" >');\n    var l = $('<p/>');\n    console.log(div[0].style)\n    t.text(\"|\")\n    \n    l[0].style.display = \"inline-block\"\n    p[0].style.display = \"inline-block\"\n    t[0].style.display = \"inline-block\"\n\n    t[0].style.margin = '0px 0px 0px 5px';\n    i[0].style.margin = '0px 0px 0px 5px';\n    i[0].style.position = 'relative';\n    i[0].style.top = '7px'\n    l[0].style.margin = '0px 0px 0px 5px';\n  \n\n    // p.css(\"dispaly : inline-block\")\n    // l.css(\"dispaly : inline-block\")\n\n    div.append(p);\n    div.append(t);\n    div.append(i);\n    div.append(l);\n\n   \n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n        async function test() {\n            http = fetch('http://127.0.0.1:1880/test');\n            const r = await http\n            const e = await r.text()\n            \n            if ( e != \"\") {\n                l.text(e + \"%\")\n            }\n            else{\n                l.text(\"ERROR\")\n            }\n        }\n        test();\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 2600,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1b706a81.3b20f5",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 430,
        "y": 2660,
        "wires": [
            [
                "838f5114e94bb518"
            ]
        ]
    },
    {
        "id": "838f5114e94bb518",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "name": "Authentification switch",
        "func": "if (msg.payload == \"Cancel\") {\n    return [null, null];\n}\nif (msg.payload == \"nodebleu\") {\n    msg.payload = true;\n    return [msg, null];\n}\nelse {\n    msg.payload = \"Le mot de passe est incorrect\";\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2660,
        "wires": [
            [
                "73844e3a1f1839f7"
            ],
            [
                "6a1fbffb30a62cda"
            ]
        ]
    },
    {
        "id": "6a1fbffb30a62cda",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "e3fe615ee7cd854b",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Lecture RFID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "755b9fa70a4e44cc",
                "ff4db2aaebf87a38",
                "b66fa5a4a6d85200"
            ]
        ]
    },
    {
        "id": "755b9fa70a4e44cc",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "2d18a4e5c0dd03da",
        "command": "/usr/bin/python3  /home/pi/test.py",
        "addpay": "",
        "append": "10",
        "useSpawn": "false",
        "timer": "10",
        "winHide": false,
        "oldrc": false,
        "name": "python3  /home/pi/test.py",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "99f30a97b7dc889b",
                "296af81cda02565d"
            ],
            [],
            []
        ]
    },
    {
        "id": "88800d41e789137a",
        "type": "ui_led",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "order": 4,
        "group": "0c837632a8607faf",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "",
        "x": 530,
        "y": 2940,
        "wires": []
    },
    {
        "id": "5e4d3a08365f8018",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "commende SQL",
        "func": "msg.rfid = msg.payload;\n\nmsg.topic = \"SELECT * FROM poules WHERE id ='\" + msg.rfid + \"';\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 180,
        "wires": [
            [
                "050956be26b608e3"
            ]
        ]
    },
    {
        "id": "050956be26b608e3",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "2f3e47d1d76e2545"
            ]
        ]
    },
    {
        "id": "2f3e47d1d76e2545",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "Set JSON Poule and processing data",
        "func": "var poule;\nif (msg.payload[0] == null) {\n    \n    poule = {\n        id: msg.rfid,\n        name: \"\",\n        numero: 0,\n        thisDate: \"\",\n        thisnew : true,\n        text : \"\"\n    }\n\n    flow.set(\"poule\", poule)\n\n    msg.poule = poule;\n\n}\nelse {\n\n    var obj = msg.payload[0];\n    console.log(obj.id)\n    if (obj.numero == null) { obj.numero = 0 }\n\n    poule = {\n        id: obj.ID,\n        name: obj.nom,\n        numero: obj.nombre,\n        thisDate: obj.date,\n        thisnew :false,\n        text: obj.info\n    }\n\n    flow.set(\"poule\", poule)\n\n    msg.poule = poule;\n\n\n    \n}\n\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"poule\", {\n    id: null,\n    name: null,\n    numero: null,\n    thisDate: null,\n    text: null,\n})\n",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 220,
        "wires": [
            [
                "f4b5ee480366ba24",
                "7d0d0f6af1c795b2",
                "68f1a52a7bace804",
                "09d62b99c946f92c",
                "fba792433f6238bb",
                "7a291c65cd52c7c2"
            ]
        ]
    },
    {
        "id": "8f33358fd390971f",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "name": "flow.poule.name = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "poule.name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2170,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "68f1a52a7bace804",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "ea6d8cceab59193d",
        "name": "msg.payload = flow.poule.name",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.name",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 540,
        "wires": [
            [
                "8ac547f8b8b8eb17"
            ]
        ]
    },
    {
        "id": "2f4bd857cc1f852e",
        "type": "ui_numeric",
        "z": "805c580241bb2718",
        "g": "fa543507d187bd10",
        "name": "",
        "label": "numéro",
        "tooltip": "valeur optionnel",
        "group": "de0704c895d59fa5",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "999",
        "step": 1,
        "className": "",
        "x": 2000,
        "y": 400,
        "wires": [
            [
                "1d7d79794258e0fc"
            ]
        ]
    },
    {
        "id": "1d7d79794258e0fc",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "fa543507d187bd10",
        "name": "flow.poule.numero = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "poule.numero",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "7d0d0f6af1c795b2",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "33d0687fbdb6e278",
        "name": "msg.payload = flow.poule.numero",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.numero",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 400,
        "wires": [
            [
                "2f4bd857cc1f852e"
            ]
        ]
    },
    {
        "id": "f14aab6f89b6da1a",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "group": "de0704c895d59fa5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "enregistrer ",
        "label": "Enregistrer le  ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2130,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4b5ee480366ba24",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "name": "msg.payload = flow.poule.thisDate",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.thisDate",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 280,
        "wires": [
            [
                "c1fda23de5a8aa64"
            ]
        ]
    },
    {
        "id": "c1fda23de5a8aa64",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "5507011fe103b6ac",
        "name": "display date",
        "func": "if (msg.payload == \"\") { \n    return msg\n}\n\nvar date = new Date(msg.payload);\n\nmsg.payload = date.toLocaleString('fr-FR',{\n    year:'numeric',\n    month:'numeric',\n    day:'numeric',\n    hour:'numeric',\n    minute:'numeric',\n    second:'numeric',\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1970,
        "y": 280,
        "wires": [
            [
                "f14aab6f89b6da1a"
            ]
        ]
    },
    {
        "id": "234a9bf6dd16cd8a",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "53e07c6e45ded627",
        "group": "de0704c895d59fa5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ID : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1910,
        "y": 180,
        "wires": []
    },
    {
        "id": "df3db7124d79dc16",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2010,
        "y": 80,
        "wires": []
    },
    {
        "id": "c3bb784ac209c139",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "8897b032ff8177f8",
        "group": "de0704c895d59fa5",
        "order": 2,
        "width": 1,
        "height": 1,
        "name": "Nom text",
        "label": "Nom:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1970,
        "y": 580,
        "wires": []
    },
    {
        "id": "4e9498751983c2f8",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "c982fbb8.1deb38",
        "name": "scrollbar",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n    ::-webkit-scrollbar {\n    width:10px; /* la taille de la scrollbar*/\n    }\n    \n    ::-webkit-scrollbar-track {\n    padding: 2px 0;\n    background-color: var(--nr-dashboard-widgetBgndColor); /* couleur de fond de la scrollbar */\n    }\n    \n    \n    ::-webkit-scrollbar-thumb {\n    background-color: var(--nr-dashboard-widgetColor); /* Couleur de la scrollbar */\n    \n    }\n\n    .noselect {\n        -webkit-touch-callout: none; /* iOS Safari */\n        -webkit-user-select: none; /* Safari */\n        -khtml-user-select: none; /* Konqueror HTML */\n        -moz-user-select: none; /* Old versions of Firefox */\n        -ms-user-select: none; /* Internet Explorer/Edge */\n        user-select: none; /* Non-prefixed version, currently\n        supported by Chrome, Edge, Opera and Firefox */\n    }\n    \n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 2580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ff4db2aaebf87a38",
        "type": "ui_led",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "order": 10,
        "group": "de0704c895d59fa5",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": false,
        "name": "",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "296af81cda02565d",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "bf5bc1ac374a2895"
            ],
            [
                "85b998e921c22667"
            ]
        ]
    },
    {
        "id": "99f30a97b7dc889b",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "set false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 220,
        "wires": [
            [
                "ff4db2aaebf87a38"
            ]
        ]
    },
    {
        "id": "85b998e921c22667",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "9819ddd24384cda0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 180,
        "wires": [
            [
                "5e4d3a08365f8018"
            ]
        ]
    },
    {
        "id": "0a71111d04563e3a",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "9112164fc44755d2",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Rajouter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "0f320d449667492c"
            ]
        ]
    },
    {
        "id": "4c708050d4368b5e",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 13,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Enlever",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 1620,
        "wires": [
            [
                "e731e576123da0a4"
            ]
        ]
    },
    {
        "id": "e740ce6276434eec",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "2d18a4e5c0dd03da",
        "name": "close to 10s",
        "info": "",
        "x": 320,
        "y": 160,
        "wires": []
    },
    {
        "id": "da2ae59fb4c6ecd9",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "On to Start ",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 350,
        "y": 2940,
        "wires": [
            [
                "88800d41e789137a",
                "7b9022f8e8edef7d"
            ]
        ]
    },
    {
        "id": "900122880a116110",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Modifier",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "e0b6bcbdf429836e"
            ]
        ]
    },
    {
        "id": "f3a00c3203d49c4a",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "d703de119e5097ee",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM log ",
        "output": "str",
        "x": 710,
        "y": 2080,
        "wires": [
            [
                "ae9b2e7ae093ea8d"
            ]
        ]
    },
    {
        "id": "ae9b2e7ae093ea8d",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "d703de119e5097ee",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 880,
        "y": 2080,
        "wires": [
            [
                "501beae42599466e"
            ]
        ]
    },
    {
        "id": "bc6b209dc548440d",
        "type": "catch",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 3060,
        "y": 3380,
        "wires": [
            [
                "3be5b10c4a60e56f"
            ]
        ]
    },
    {
        "id": "827caa8b8cd574c3",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "84103b8300d1d495",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 3440,
        "y": 3380,
        "wires": [
            [
                "fcafb8826453c56e"
            ]
        ]
    },
    {
        "id": "3be5b10c4a60e56f",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "84103b8300d1d495",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('msg.error [ message: {{error.message}} , type-node: {{error.source.type}}, name-node: {{error.source.name}} ]; msg.payload [ {{payload}} ] msg.topic [ {{topic}} ]');",
        "output": "str",
        "x": 3270,
        "y": 3380,
        "wires": [
            [
                "827caa8b8cd574c3"
            ]
        ]
    },
    {
        "id": "ff4ba0c13802caad",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "Clock 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 520,
        "y": 2080,
        "wires": [
            [
                "f3a00c3203d49c4a"
            ]
        ]
    },
    {
        "id": "501beae42599466e",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "12768eebacab81ab",
        "name": "DateTime to array string ",
        "func": "var data\nfor (var i = 0; i < msg.payload.length;i++) {\n    data = new Date(msg.payload[i].date)\n    \n    var tamp = [`${data.getDate()}-${data.getMonth() + 1}-${data.getFullYear()}`,`${data.getHours()}:${data.getMinutes()}`]\n    msg.payload[i].date = tamp\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 2080,
        "wires": [
            [
                "64c7dc5c1e8c2908"
            ]
        ]
    },
    {
        "id": "64c7dc5c1e8c2908",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "12768eebacab81ab",
        "group": "1b815f1268bf420f",
        "name": "Log",
        "order": 1,
        "width": 10,
        "height": 7,
        "format": "<div style=\"height: 100%; \" >\n    <table style=\"border-spacing: 0px 10px;\">\n        <tr style=\"background-color: #1D1D1D ;\" ng-repeat=\"log in msg.payload track by $index \" class=\"noselect\">\n            <td style=\"width: 20% ;  text-align: right; padding-right: 12px;\">{{log.date[0]}} <br> {{log.date[1]}}</td>\n            <td>{{log.info}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1330,
        "y": 2080,
        "wires": [
            []
        ]
    },
    {
        "id": "8fca8aaa8ceedb29",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "6ac1c475f4e21404",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 500,
        "y": 2160,
        "wires": [
            [
                "f3a00c3203d49c4a"
            ]
        ]
    },
    {
        "id": "91e9e87a22c03651",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6ac1c475f4e21404",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM log",
        "output": "str",
        "x": 330,
        "y": 2160,
        "wires": [
            [
                "8fca8aaa8ceedb29"
            ]
        ]
    },
    {
        "id": "480402cb51c2783e",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "",
        "group": "1b815f1268bf420f",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Supprimer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 2160,
        "wires": [
            [
                "91e9e87a22c03651"
            ]
        ]
    },
    {
        "id": "a3403886dd3040bb",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "7c7e179305eca2e6",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 810,
        "y": 2940,
        "wires": [
            [
                "4792d77573569a44"
            ]
        ]
    },
    {
        "id": "4792d77573569a44",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "7c7e179305eca2e6",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 980,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "67ed016ef346444e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "4c43f9cc05307086",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('Affichage de l\\'address ip');",
        "output": "str",
        "x": 1110,
        "y": 2540,
        "wires": [
            [
                "cdb7bc27e3868456"
            ]
        ]
    },
    {
        "id": "cdb7bc27e3868456",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "4c43f9cc05307086",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1280,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "15d0d2e46981435c",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "group": "de0704c895d59fa5",
        "name": "Multiline Text Input",
        "order": 8,
        "width": 6,
        "height": 3,
        "format": "<style>\n\n    #textzone {\n        \n        box-sizing: border-box;\n        padding : 5px ;\n        width : 100%;\n        outline : 0px solid #000000;\n        border : 1px solid #707070;\n    \n    }\n\n</style>\n\n<script>\n    document.getElementById('textzone').onkeyup = (event) =>{ \n        document.getElementById('bouton').click();\n    }\n  \n\n    this.scope.action = function() {     \n        return document.getElementById('textzone').textContent;\n    }\n</script>\n\n<!-- Conteneur -->\n<div id=\"textzone\" class=\"end\" ng-bind-html=\"msg.payload | trusted\" contenteditable=\"true\" ></div>\n\n<!-- output -->\n<md-button id = \"bouton\" style=\"display : none ;\" ng-click=\"send({payload:action()})\">  </md-button>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1970,
        "y": 740,
        "wires": [
            [
                "0e342f77a725c426"
            ]
        ]
    },
    {
        "id": "09d62b99c946f92c",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "name": "msg.payload = flow.poule.text",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.text",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 740,
        "wires": [
            [
                "15d0d2e46981435c"
            ]
        ]
    },
    {
        "id": "0e342f77a725c426",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "name": "flow.poule.text = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "poule.text",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6a0fc35995231d9c",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "1985c4e449851c4d",
        "group": "de0704c895d59fa5",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "information",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1670,
        "y": 700,
        "wires": []
    },
    {
        "id": "6e780dd979bcec24",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "e035aadfb9895a35",
        "group": "74c5a773f085b6d9",
        "name": "Tableaux",
        "order": 1,
        "width": 16,
        "height": 9,
        "format": "<style>\n\n    .table{\n        width:100%;\n       \n        /* border: 1px solid #4B7C30 ; */\n        text-align : center ;\n        border-spacing: 0px 5px ;\n    }\n\n    .titre {\n       \n        padding : 1px ;\n       \n    }\n\n    .titre div {\n        background-color : var(--nr-dashboard-widgetColor);\n        border-radius : 2px;\n        \n    }\n   \n    .data {\n       \n        height: 30px;\n    }\n\n    .data td {\n\n        background-color : #535353 ;\n        /* border-radius : 2px; */\n        padding : 5px ;\n        \n    }\n   \n</style>\n\n<script>\n\n    var id\n    function sendMsg(element) { \n        \n        id = element.getElementsByTagName(\"td\").item(0).innerHTML\n        document.getElementById('bouton1').click();\n    }\n\n    this.scope.action = function() {\n        return id\n    }\n\n\n</script>\n\n\n<div style=\"height: 100%; width: 100%\">\n    <table class=\"table\" >\n        \n        <thead>\n            <tr style=\"border-spacing: 10px ;\">\n                <td class=\"titre\" style =\" display: none;\"> \n                    <div >ID</div> <div> </div>\n                </td>  \n                <td class=\"titre\"> \n                    <div>Poule</div>\n                </td>\n                <td class=\"titre\" style=\"width:100px\"> \n                    <div>Numero</div>\n                </td>\n                <td class=\"titre\" style=\"width:100px\" > \n                    <div>Date</div>\n                </td>\n                <td class=\"titre\" style=\"max-width: 100px\" > \n                    <div>Information</div>\n                </td>\n            </tr>\n        </thead>\n\n        <tbody>     \n            <tr class=\"data \" ng-repeat=\"poule in msg.payload track by $index \" onclick=\"sendMsg(this)\">\n                <td style =\" display: none;\">{{poule.ID}}</td>\n                <td>{{poule.nom}}</td>\n                <td>{{poule.nombre}}</td>\n                <td>{{poule.date[0]}} <br>{{poule.date[1]}} </td>\n                <td style =\"text-align : left ; padding :5px ; \" >{{ poule.info}}</td>\n            </tr>\n        </tbody>\n    \n\n    </table>\n</div>\n\n\n<!-- output -->\n<md-button id=\"bouton1\" style=\"display : none ;\" ng-click=\"send({payload:action()})\"> </md-button>\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "051023dfbfbb6407"
            ]
        ]
    },
    {
        "id": "f0bfb950882267d6",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "f7560f01eb413def"
            ]
        ]
    },
    {
        "id": "be02c0b9a84e5a7a",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "Clock 1s",
        "props": [
            {
                "p": "topic",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "68217be081bdd169"
            ]
        ]
    },
    {
        "id": "68217be081bdd169",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "Comande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT ID, nom,nombre,date,info from poules ;",
        "output": "str",
        "x": 300,
        "y": 460,
        "wires": [
            [
                "f0bfb950882267d6"
            ]
        ]
    },
    {
        "id": "f7560f01eb413def",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "e035aadfb9895a35",
        "name": "Change date",
        "func": "var data\nfor (var i = 0; i < msg.payload.length; i++) {\n    data = new Date(msg.payload[i].date)\n\n    var tamp = [`${data.getDate()}-${data.getMonth() + 1}-${data.getFullYear()}`,`${data.getHours()}:${data.getMinutes()}`]\n    msg.payload[i].date = tamp\n    \n    var text = msg.payload[i].info\n    msg.payload[i].info = text\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 460,
        "wires": [
            [
                "6e780dd979bcec24"
            ]
        ]
    },
    {
        "id": "051023dfbfbb6407",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "557006cc076a8df2",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT * FROM poules WHERE id ='{{payload}} ';\n",
        "output": "str",
        "x": 1030,
        "y": 460,
        "wires": [
            [
                "050956be26b608e3"
            ]
        ]
    },
    {
        "id": "fba792433f6238bb",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "53e07c6e45ded627",
        "name": "msg.payload = flow.poule.id",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 180,
        "wires": [
            [
                "234a9bf6dd16cd8a"
            ]
        ]
    },
    {
        "id": "5955a7e28a37623f",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "poule.thisnew == true",
        "property": "poule.thisnew",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 1140,
        "wires": [
            [
                "379901c0da9bcd66",
                "334e790b09cd698b",
                "ee81712591aafdf9"
            ],
            [
                "529c30de70b1a4c8"
            ]
        ]
    },
    {
        "id": "a4074e47369ca155",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "aedede7cb4dfa39f",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1620,
        "y": 1040,
        "wires": [
            [
                "3da246ea47f01e51",
                "49c1fa327b180f5c"
            ]
        ]
    },
    {
        "id": "3da246ea47f01e51",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "9e5762cad439fa0e",
        "name": "poule.thisnew = false & msg.topic == null",
        "rules": [
            {
                "t": "set",
                "p": "poule.thisnew",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1920,
        "y": 1040,
        "wires": [
            [
                "a7a2ed0f5dbff2e9"
            ]
        ]
    },
    {
        "id": "a7a2ed0f5dbff2e9",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "9e5762cad439fa0e",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La poule à été bien rajouter",
        "output": "str",
        "x": 2160,
        "y": 1040,
        "wires": [
            [
                "580dd8d235d69ed4"
            ]
        ]
    },
    {
        "id": "580dd8d235d69ed4",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "9e5762cad439fa0e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2330,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0f320d449667492c",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "5e2f7f95335b353e",
        "name": "poule.id != null",
        "property": "poule.id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 1160,
        "wires": [
            [
                "5955a7e28a37623f"
            ],
            [
                "2024281cd9f050be"
            ]
        ]
    },
    {
        "id": "e731e576123da0a4",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "poule.id != null",
        "property": "poule.id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 1620,
        "wires": [
            [
                "d0a0e32641e19533"
            ],
            [
                "b0e525dbd329e672"
            ]
        ]
    },
    {
        "id": "b0e525dbd329e672",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "c4a6d979ad810471",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Veuillez sélectionner une poule",
        "output": "str",
        "x": 440,
        "y": 1700,
        "wires": [
            [
                "2b5deed04d555771"
            ]
        ]
    },
    {
        "id": "2b5deed04d555771",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "c4a6d979ad810471",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 610,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e0b6bcbdf429836e",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "poule.id != null",
        "property": "poule.id",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "3e465f358a1c8873"
            ],
            [
                "8ffa7ab7d217f3af"
            ]
        ]
    },
    {
        "id": "8ffa7ab7d217f3af",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Veuillez sélectionner une poule",
        "output": "str",
        "x": 980,
        "y": 800,
        "wires": [
            [
                "0fe50ddbe7a852c0"
            ]
        ]
    },
    {
        "id": "0fe50ddbe7a852c0",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1150,
        "y": 800,
        "wires": []
    },
    {
        "id": "e53aea8a305473d3",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "4228a65ce76f94c6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 1540,
        "wires": [
            [
                "2daa811ebdfba515"
            ]
        ]
    },
    {
        "id": "9d134a66ea0e562b",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "4228a65ce76f94c6",
        "name": "message ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Voulez vous supprimer la poule ?",
        "output": "str",
        "x": 580,
        "y": 1540,
        "wires": [
            [
                "e53aea8a305473d3"
            ]
        ]
    },
    {
        "id": "2daa811ebdfba515",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "4228a65ce76f94c6",
        "name": "mag payload == OK",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OK",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 940,
        "y": 1540,
        "wires": [
            [
                "a98b731dbcc096cf",
                "d5323237e42f803d",
                "fbc63b28b102d38b"
            ]
        ]
    },
    {
        "id": "54f9e1bbf110b28b",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM poules WHERE ID = {{flow.poule.id}} ; ",
        "output": "str",
        "x": 1490,
        "y": 1540,
        "wires": [
            [
                "aa313c66d72a304b"
            ]
        ]
    },
    {
        "id": "aa313c66d72a304b",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1660,
        "y": 1540,
        "wires": [
            [
                "a1aa94af6610700a",
                "bb723b10cb1a5770"
            ]
        ]
    },
    {
        "id": "f98b682badaf6d9c",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "36ed1aa10688f330",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La poule a été supprimé",
        "output": "str",
        "x": 2040,
        "y": 1540,
        "wires": [
            [
                "9b111f5ed35af9aa"
            ]
        ]
    },
    {
        "id": "9b111f5ed35af9aa",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "36ed1aa10688f330",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2210,
        "y": 1540,
        "wires": []
    },
    {
        "id": "a1aa94af6610700a",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "36ed1aa10688f330",
        "name": "msg.topic = null",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 1540,
        "wires": [
            [
                "f98b682badaf6d9c"
            ]
        ]
    },
    {
        "id": "3e465f358a1c8873",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE poules SET nom = \"{{flow.poule.name}}\",nombre = {{flow.poule.numero}},info = \"{{flow.poule.text}}\" WHERE id = {{flow.poule.id}};",
        "output": "str",
        "x": 470,
        "y": 760,
        "wires": [
            [
                "b1c4fb62f965bd78"
            ]
        ]
    },
    {
        "id": "b1c4fb62f965bd78",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "636581ac168befa3",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 640,
        "y": 760,
        "wires": [
            [
                "ba431b7706d5c630"
            ]
        ]
    },
    {
        "id": "ba431b7706d5c630",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "name": "msg.topc = null",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 760,
        "wires": [
            [
                "b5266c492f974bb2"
            ]
        ]
    },
    {
        "id": "b5266c492f974bb2",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "les données ont été modifiées",
        "output": "str",
        "x": 980,
        "y": 760,
        "wires": [
            [
                "31ea0afea8766ae1"
            ]
        ]
    },
    {
        "id": "31ea0afea8766ae1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "94f2b4c5f8fe9a41",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1150,
        "y": 760,
        "wires": []
    },
    {
        "id": "fcafb8826453c56e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Erreur !",
        "output": "str",
        "x": 3600,
        "y": 3380,
        "wires": [
            [
                "dc901a6f65c399bb"
            ]
        ]
    },
    {
        "id": "dc901a6f65c399bb",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "7319ad82325a1610",
        "position": "top right",
        "displayTime": "10",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 3770,
        "y": 3380,
        "wires": []
    },
    {
        "id": "447200486d70a95a",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "aedede7cb4dfa39f",
        "name": "[Rajoute] Comande SQL ",
        "func": "// INSERT INTO poules(nom,nombre,info,ID) VALUES (\"{{flow.poule.name}}\",{{flow.poule.numero}},'{{flow.poule.text}}',{{flow.poule.id}});\n\n// \"INSERT INTO poules(nom, nombre, info, ID) VALUES( '',0,\"&é\"'(-è_çà)=*/-+.<>ù*%$£^\",4329439);\"\n\n\nvar poule = flow.get(\"poule\");\n\nvar text = poule.text \ntext = text.replace('\"' , \" \")\n\nmsg.topic = \"INSERT INTO poules(nom, nombre, info, ID) VALUES( '\" + poule.name + \"',\" + poule.numero + \",\\\"\" + poule.text + \"\\\",\" + poule.id + \");\"\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1040,
        "wires": [
            [
                "a4074e47369ca155"
            ]
        ]
    },
    {
        "id": "dc8b50c05afee566",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "52e51f873d080c35",
        "name": "",
        "scope": [
            "a7a2ed0f5dbff2e9",
            "f98b682badaf6d9c"
        ],
        "uncaught": false,
        "x": 1270,
        "y": 460,
        "wires": [
            [
                "ceffe6e0f58844e8"
            ]
        ]
    },
    {
        "id": "ceffe6e0f58844e8",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "52e51f873d080c35",
        "name": "Reste poule",
        "func": "var poule;\n\npoule = {\n    id: null,\n    name: \"\",\n    numero: 0,\n    thisDate: \"\",\n    thisnew: false,\n    text: \" \"\n}\n\nflow.set(\"poule\", poule)\n\nmsg.poule = poule;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 460,
        "wires": [
            [
                "fba792433f6238bb",
                "f4b5ee480366ba24",
                "7d0d0f6af1c795b2",
                "68f1a52a7bace804",
                "09d62b99c946f92c"
            ]
        ]
    },
    {
        "id": "d0a0e32641e19533",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "cf6d5d8de60acfc5",
        "name": "onAlerte == true",
        "property": "onAlerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1600,
        "wires": [
            [
                "9d134a66ea0e562b"
            ],
            [
                "a98b731dbcc096cf",
                "d5323237e42f803d",
                "fbc63b28b102d38b"
            ]
        ]
    },
    {
        "id": "45c373b3679103d0",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "f75bd782d0a80335",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 1260,
        "wires": []
    },
    {
        "id": "529c30de70b1a4c8",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "f75bd782d0a80335",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La poule est déjà présente ",
        "output": "str",
        "x": 720,
        "y": 1260,
        "wires": [
            [
                "45c373b3679103d0"
            ]
        ]
    },
    {
        "id": "2024281cd9f050be",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "f75bd782d0a80335",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Veuillez sélectionner une poule",
        "output": "str",
        "x": 720,
        "y": 1300,
        "wires": [
            [
                "a975db368222c4af"
            ]
        ]
    },
    {
        "id": "a975db368222c4af",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "f75bd782d0a80335",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b66fa5a4a6d85200",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6ce97152d3f5f487",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lancement du lecteur RFID",
        "output": "str",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "a4fab9d5f902b055"
            ]
        ]
    },
    {
        "id": "a4fab9d5f902b055",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6ce97152d3f5f487",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "bf5bc1ac374a2895",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "1c485132c0f7b26f",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Arrêt de la lecture RFID",
        "output": "str",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "7eb17b191ebb7aa8"
            ]
        ]
    },
    {
        "id": "7eb17b191ebb7aa8",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "1c485132c0f7b26f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "94603c86e4f5572f",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 3460,
        "wires": [
            []
        ]
    },
    {
        "id": "24fd476908ee1530",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "0c2352a7d0fc9a89",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 990,
        "y": 3560,
        "wires": [
            [
                "add28a59365ae480"
            ]
        ]
    },
    {
        "id": "add28a59365ae480",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "0c2352a7d0fc9a89",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1160,
        "y": 3560,
        "wires": [
            []
        ]
    },
    {
        "id": "c2c006841585cf35",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Une erreur est survenue, Veuillez bien vérifier la connectivité avec le bloc de commande",
        "output": "str",
        "x": 760,
        "y": 3460,
        "wires": [
            [
                "94603c86e4f5572f",
                "24fd476908ee1530"
            ]
        ]
    },
    {
        "id": "c41546e54d83eef9",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "La connectivité est bonne",
        "output": "str",
        "x": 760,
        "y": 3420,
        "wires": [
            [
                "7cb5cf9ac1512fe0"
            ]
        ]
    },
    {
        "id": "7cb5cf9ac1512fe0",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "6d144252e21a0548",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 3420,
        "wires": []
    },
    {
        "id": "7b9022f8e8edef7d",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message true",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Les alertes sont activées ",
        "output": "str",
        "x": 560,
        "y": 2900,
        "wires": [
            [
                "c2a9274b101f8aa1",
                "a3403886dd3040bb"
            ]
        ]
    },
    {
        "id": "b3e440718d96f965",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message false",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Les alertes sont désactivées ",
        "output": "str",
        "x": 560,
        "y": 2860,
        "wires": [
            [
                "c2a9274b101f8aa1",
                "a3403886dd3040bb"
            ]
        ]
    },
    {
        "id": "169870c1951eaa11",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lecture des informations",
        "output": "str",
        "x": 1840,
        "y": 80,
        "wires": [
            [
                "df3db7124d79dc16"
            ]
        ]
    },
    {
        "id": "9864e6e3d51ab153",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "8b6490e520ef046a",
        "name": "OnAlerte",
        "property": "OnAlerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 760,
        "y": 2300,
        "wires": [
            [
                "7cc2e24b620ba90d"
            ]
        ]
    },
    {
        "id": "7bc8ca9e8f15ed7f",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "alerte niveau batterie est faible : {{payload}}% !",
        "output": "str",
        "x": 580,
        "y": 2320,
        "wires": [
            [
                "7d1eb8fa5f9409a9",
                "9864e6e3d51ab153"
            ]
        ]
    },
    {
        "id": "7cc2e24b620ba90d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "8b6490e520ef046a",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 910,
        "y": 2300,
        "wires": [
            []
        ]
    },
    {
        "id": "7d1eb8fa5f9409a9",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "f90f20cae0862fc3",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 790,
        "y": 2400,
        "wires": [
            [
                "93dedf175000e308"
            ]
        ]
    },
    {
        "id": "93dedf175000e308",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "f90f20cae0862fc3",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 960,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "6d5b8b2a5ce0381d",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "batterie <= 10%",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": " 10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 420,
        "y": 2320,
        "wires": [
            [
                "7bc8ca9e8f15ed7f"
            ]
        ]
    },
    {
        "id": "7a291c65cd52c7c2",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "6b2b91285d5ee909",
        "name": "msg.topic = null",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 80,
        "wires": [
            [
                "169870c1951eaa11"
            ]
        ]
    },
    {
        "id": "a8a10cc2.9d0ae",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "0c837632a8607faf",
        "name": "Font size",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\nbody.nr-dashboard-theme {\n    font-size: 18.5px !important;\n}\n.md-toolbar-tools h1 {\n    font-size: 18.5px !important;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 2580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a960eed832e8de15",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "0d47dd58cfcb9dde",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lancement du test ...",
        "output": "str",
        "x": 360,
        "y": 3260,
        "wires": [
            [
                "f715fc3e0e71471d"
            ]
        ]
    },
    {
        "id": "2fddeab3f3832f22",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "soleil",
        "topic": "BTSpoulailler2022/soleil",
        "qos": "0",
        "datatype": "auto",
        "broker": "77bbf09a988418ab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 3700,
        "wires": [
            [
                "4e143ad375bd48f6"
            ]
        ]
    },
    {
        "id": "4e143ad375bd48f6",
        "type": "split",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "split HL et HC",
        "splt": ",",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 240,
        "y": 3700,
        "wires": [
            [
                "3ce657fe69fa0172"
            ]
        ]
    },
    {
        "id": "f60e520bad1d9a7c",
        "type": "join",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "join array 2",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 990,
        "y": 3700,
        "wires": [
            [
                "5fbe93f46edee6c9"
            ]
        ]
    },
    {
        "id": "5fbe93f46edee6c9",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "soleil",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 3700,
        "wires": [
            []
        ]
    },
    {
        "id": "3ce657fe69fa0172",
        "type": "split",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "split heurs,minute,seconde",
        "splt": ":",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 460,
        "y": 3700,
        "wires": [
            [
                "a8ce60d08c0abe1c"
            ]
        ]
    },
    {
        "id": "f157981bd1c03316",
        "type": "join",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "join array 3",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 830,
        "y": 3700,
        "wires": [
            [
                "f60e520bad1d9a7c"
            ]
        ]
    },
    {
        "id": "a8ce60d08c0abe1c",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "50668003f5802e66",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 3700,
        "wires": [
            [
                "f157981bd1c03316"
            ]
        ]
    },
    {
        "id": "6aaa8838e03459df",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "onAlerte  == true",
        "property": "onAlerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 3100,
        "wires": [
            [
                "5774f682efdd4e1f"
            ]
        ]
    },
    {
        "id": "14ebacbde577c537",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "9c19104544462ab3",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<style>input{ -webkit-text-security: disc;}</style> Mots de passe administrateur :",
        "output": "str",
        "x": 280,
        "y": 2660,
        "wires": [
            [
                "1b706a81.3b20f5"
            ]
        ]
    },
    {
        "id": "9d0d04b0b7243b92",
        "type": "rpi-gpio out",
        "z": "805c580241bb2718",
        "g": "ae87f45d733ac675",
        "name": "",
        "pin": "4",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 790,
        "y": 3800,
        "wires": []
    },
    {
        "id": "a09138981cf8a7ed",
        "type": "trigger",
        "z": "805c580241bb2718",
        "g": "ae87f45d733ac675",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 640,
        "y": 3800,
        "wires": [
            [
                "9d0d04b0b7243b92"
            ]
        ]
    },
    {
        "id": "5a446165f19209ed",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "ae87f45d733ac675",
        "name": "onAlerte == true",
        "property": "onAlerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 3800,
        "wires": [
            [
                "a09138981cf8a7ed"
            ]
        ]
    },
    {
        "id": "a35957615d84439d",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "ae87f45d733ac675",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 3800,
        "wires": [
            [
                "fec24e0404308daa"
            ]
        ]
    },
    {
        "id": "fec24e0404308daa",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "ae87f45d733ac675",
        "name": "flow.Alerte == true",
        "property": "Alerte",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 3800,
        "wires": [
            [
                "5a446165f19209ed"
            ]
        ]
    },
    {
        "id": "26ab0fcbbefd3538",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "e1d11e967328e133",
        "group": "5d9c483452988522",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Coucher du soleil",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 430,
        "y": 3960,
        "wires": []
    },
    {
        "id": "d3b1b9d617ecab07",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "e1d11e967328e133",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 3940,
        "wires": [
            [
                "3bc8b091cf46cfcf"
            ]
        ]
    },
    {
        "id": "8399fd44d5533a3b",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "e1d11e967328e133",
        "group": "04395992c8afbdfe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lever du soleil",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 440,
        "y": 3920,
        "wires": []
    },
    {
        "id": "3bc8b091cf46cfcf",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "e1d11e967328e133",
        "name": "",
        "func": "var msg_1 = {}\nvar msg_2 = {}\nvar date = flow.get(\"soleil\")\n\nmsg_1.payload = date[0][0] + \"h \" + date[0][1] + \"m \"+ date[0][2]\nmsg_2.payload = date[1][0] + \"h \" + date[1][1] + \"m \"+ date[1][2]\nreturn [msg_1,msg_2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"soleil\",[[8,10,53],[18,2,10]])",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 3940,
        "wires": [
            [
                "8399fd44d5533a3b"
            ],
            [
                "26ab0fcbbefd3538"
            ]
        ]
    },
    {
        "id": "284c9087670d7cb2",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "e6a9fd382a29b4f4",
        "group": "5d9c483452988522",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heure de fermeture en function du coucher",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 230,
        "y": 4100,
        "wires": []
    },
    {
        "id": "e961ed0dd8e8655b",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "e6a9fd382a29b4f4",
        "group": "04395992c8afbdfe",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heure d'ouverture en function du lever",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 250,
        "y": 4060,
        "wires": []
    },
    {
        "id": "988923bb96704f28",
        "type": "ui_text_input",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "04395992c8afbdfe",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 4380,
        "wires": [
            [
                "c5ef4bbbc23794f8"
            ]
        ]
    },
    {
        "id": "5b3294d984039e46",
        "type": "ui_text_input",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "5d9c483452988522",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 4420,
        "wires": [
            [
                "9e7dd447d58bfe5d"
            ]
        ]
    },
    {
        "id": "d54eec8b6da2661c",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "5dde7340d5b122e6",
        "name": "calcul",
        "func": "var date = flow.get(\"soleil\")\nvar heures = flow.get(\"heures\")\nvar tamp = new Date()\n\nvar leve = new Date(new Date(tamp.getFullYear(), tamp.getMonth(), tamp.getDay(), date[0][0], date[0][1], date[0][2]).getTime() + heures[0])\nvar couche = new Date(new Date(tamp.getFullYear(), tamp.getMonth(), tamp.getDay(), date[1][0], date[1][1], date[1][2]).getTime() + heures[1])\n\nvar msg_1 = {}\nvar msg_2 = {}\nvar msg_3 = {} \n\n\nmsg_1.payload = leve.getHours() + \"h \" + leve.getMinutes() + \"m \" + leve.getSeconds()\nmsg_2.payload = couche.getHours() + \"h \" + couche.getMinutes() + \"m \" + couche.getSeconds()\nmsg_3.payload = leve.getHours() + \":\" + leve.getMinutes() + \":\" + leve.getSeconds() + \",\" + couche.getHours() + \":\" + couche.getMinutes() + \":\" + couche.getSeconds()\n\n\nreturn [msg_1,msg_2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 4540,
        "wires": [
            [
                "df8925caa26721f7"
            ],
            [
                "acf69c8c3cacce38"
            ]
        ]
    },
    {
        "id": "c5ef4bbbc23794f8",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "heures[0]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 4380,
        "wires": [
            [
                "9a2d87da3fe7e541"
            ]
        ]
    },
    {
        "id": "9e7dd447d58bfe5d",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "heures[1]",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 4420,
        "wires": [
            [
                "9a2d87da3fe7e541"
            ]
        ]
    },
    {
        "id": "5f88124a83e9bb6c",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "heures",
        "topic": "BTSpoulailler2022/heures",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 590,
        "y": 4400,
        "wires": []
    },
    {
        "id": "df8925caa26721f7",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5dde7340d5b122e6",
        "group": "04395992c8afbdfe",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heure d'ouverture ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 410,
        "y": 4520,
        "wires": []
    },
    {
        "id": "acf69c8c3cacce38",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5dde7340d5b122e6",
        "group": "5d9c483452988522",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heure de fermeture",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 410,
        "y": 4560,
        "wires": []
    },
    {
        "id": "6b8d44c70c4f0421",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "5dde7340d5b122e6",
        "name": "",
        "props": [],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 4540,
        "wires": [
            [
                "d54eec8b6da2661c"
            ]
        ]
    },
    {
        "id": "2fd9e4e13eae934d",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "a73faa76415c02b5",
        "group": "04395992c8afbdfe",
        "name": "+/-(leve)",
        "order": 6,
        "width": 1,
        "height": 1,
        "format": "\n<script>\n    function leve_inverseur () {\n        \n        document.getElementById('bouton_0').click();\n    }\n\n    this.scope.action = function() {\n        elemen = document.getElementById(\"leve\")\n        if ( elemen.innerHTML== \"+\") {\n            elemen.innerHTML = \"-\"\n            return \"-\"\n        }\n        else {\n            elemen.innerHTML = \"+\"\n            return \"+\"\n        }\n       \n    }\n\n</script>\n\n<div id =\"leve\" onclick=\"leve_inverseur()\" style=\"font-weight: bold; font-size : 35px ; padding : 0px ; maring : 0px ; overflow-y: hidden; text-align: right; \">+</div>\n\n\n<!-- output -->\n<md-button id=\"bouton_0\" style=\"display : none ;\" ng-click=\"send({payload:action()})\"> </md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 4200,
        "wires": [
            [
                "24fa04848b8d4843"
            ]
        ]
    },
    {
        "id": "0cff861ac5416f40",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "a73faa76415c02b5",
        "group": "5d9c483452988522",
        "name": "+/-(couche)",
        "order": 6,
        "width": 1,
        "height": 1,
        "format": "\n<script>\n    function couche_inverseur() {\n        document.getElementById('bouton_1').click();  \n    }\n    this.scope.action = function() {\n        elemen = document.getElementById(\"couche\")\n        if ( elemen.innerHTML== \"+\") {\n            elemen.innerHTML = \"-\"\n            return \"-\"\n        }\n        else {\n            elemen.innerHTML = \"+\"\n            return \"+\"   \n        }\n    \n    }\n</script>\n\n<div id =\"couche\" onclick=\"couche_inverseur()\" style=\"font-weight: bold; font-size : 35px ; padding : 0px ; maring : 0px ; overflow-y: hidden; text-align: right; \">+</div>\n\n<!-- output -->\n<md-button id=\"bouton_1\" style=\"display : none ;\" ng-click=\"send({payload:action()})\"> </md-button>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 130,
        "y": 4240,
        "wires": [
            [
                "e5f531160dc41da4"
            ]
        ]
    },
    {
        "id": "24fa04848b8d4843",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a73faa76415c02b5",
        "name": "",
        "func": "var heures = flow.get(\"heures\")\n\nif ( msg.payload == \"-\"){\n   heures[0] -= heures[0] * 2\n}\nelse {\n    heures[0] = Math.abs(heures[0])\n}\nflow.set(\"heures\", heures)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 4200,
        "wires": [
            []
        ]
    },
    {
        "id": "e5f531160dc41da4",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a73faa76415c02b5",
        "name": "",
        "func": "var heures = flow.get(\"heures\")\nif ( msg.payload == \"-\"){\n   heures[1] -= heures[1] * 2\n}\nelse {\n    heures[1] = Math.abs(heures[1])\n}\nflow.set(\"heures\",heures)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 4240,
        "wires": [
            []
        ]
    },
    {
        "id": "9a2d87da3fe7e541",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "",
        "func": "var date = flow.get(\"soleil\")\nvar heures = flow.get(\"heures\")\nvar tamp = new Date()\n\nvar leve = new Date(new Date(tamp.getFullYear(), tamp.getMonth(), tamp.getDay(), date[0][0], date[0][1], date[0][2]).getTime() + heures[0])\nvar couche = new Date(new Date(tamp.getFullYear(), tamp.getMonth(), tamp.getDay(), date[1][0], date[1][1], date[1][2]).getTime() + heures[1])\n\nmsg.payload = leve.getHours() + \":\" + leve.getMinutes() + \":\" + leve.getSeconds() + \",\" + couche.getHours() + \":\" + couche.getMinutes() + \":\" + couche.getSeconds()\nmsg.topic = null\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"heures\",[0,0])",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 4400,
        "wires": [
            [
                "5f88124a83e9bb6c"
            ]
        ]
    },
    {
        "id": "e6478fc2952aba3e",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5dde7340d5b122e6",
        "group": "04395992c8afbdfe",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Spacer",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 4520,
        "wires": []
    },
    {
        "id": "4b2a9e2622545494",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "d0874065aed7de0c",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reste  Data base  ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 4760,
        "wires": [
            [
                "d145c38bfadc4ca8"
            ]
        ]
    },
    {
        "id": "bb83a854dee008cd",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "d0874065aed7de0c",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT ID FROM poules ;\n",
        "output": "str",
        "x": 840,
        "y": 4680,
        "wires": [
            [
                "902b133569af451b"
            ]
        ]
    },
    {
        "id": "8a2cf156c0a96d50",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "5dde7340d5b122e6",
        "group": "5d9c483452988522",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Spacer",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 4560,
        "wires": []
    },
    {
        "id": "902b133569af451b",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "d0874065aed7de0c",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 980,
        "y": 4680,
        "wires": [
            [
                "014b13199e7fe606"
            ]
        ]
    },
    {
        "id": "014b13199e7fe606",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "d0874065aed7de0c",
        "name": "",
        "func": "var tamp = \"\"\nfor (var i = 0 ; i < msg.payload.length; i++) {\n    if ( i == msg.payload.length -1) {\n        tamp = tamp + msg.payload[i].ID\n    }\n    else {\n        tamp = tamp + msg.payload[i].ID + \":\"\n    }\n}\nmsg.payload = tamp\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 4680,
        "wires": [
            [
                "4434fc3623d4b622"
            ]
        ]
    },
    {
        "id": "4434fc3623d4b622",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "d0874065aed7de0c",
        "name": "reload",
        "topic": "BTSpoulailler2022/reload",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 1250,
        "y": 4680,
        "wires": []
    },
    {
        "id": "484488a2360c8f93",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "a55ac57193a109b4",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 470,
        "y": 4760,
        "wires": [
            [
                "59c6987a280f253f"
            ]
        ]
    },
    {
        "id": "59c6987a280f253f",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a55ac57193a109b4",
        "name": "Authentification switch",
        "func": "if (msg.payload == \"Cancel\") {\n    return [null, null];\n}\nif (msg.payload == \"nodebleu\") {\n    msg.payload = true;\n    return [msg, null];\n}\nelse {\n    msg.payload = \"Le mot de passe est incorrect\";\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 4760,
        "wires": [
            [
                "bb83a854dee008cd"
            ],
            [
                "e31db24cb4dd3823"
            ]
        ]
    },
    {
        "id": "e31db24cb4dd3823",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "a55ac57193a109b4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 850,
        "y": 4780,
        "wires": [
            []
        ]
    },
    {
        "id": "d145c38bfadc4ca8",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "a55ac57193a109b4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n<style>input{ -webkit-text-security: disc;}</style> Mots de passe administrateur :",
        "output": "str",
        "x": 320,
        "y": 4760,
        "wires": [
            [
                "484488a2360c8f93"
            ]
        ]
    },
    {
        "id": "42f7c1e5ba2f97fc",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "568846b3235c167f",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 2100,
        "wires": [
            [
                "91e9e87a22c03651"
            ]
        ]
    },
    {
        "id": "84b62cf244881787",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "1a9b7722c8a474e5",
        "name": "",
        "scope": [
            "24fa04848b8d4843",
            "e5f531160dc41da4"
        ],
        "uncaught": false,
        "x": 310,
        "y": 4340,
        "wires": [
            [
                "9a2d87da3fe7e541"
            ]
        ]
    },
    {
        "id": "0ff1e510cf44911c",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "group": "29c5e74d5d25f241",
        "order": 1,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Log ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1120,
        "y": 3920,
        "wires": []
    },
    {
        "id": "93981a0bbcd55ea1",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "0df689b464193a8f",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 810,
        "y": 3920,
        "wires": [
            [
                "b35aaaac606d1190",
                "07c25d0dee70d741",
                "3f4107ca0829dfb1",
                "72fc557157d9abcd",
                "a4acd61b0366a452",
                "31c2d6e3f005b8f2",
                "5267bc5c1793935d",
                "0c6a5db99efe514b",
                "f7a64c0426a285bf"
            ]
        ]
    },
    {
        "id": "b35aaaac606d1190",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Affiches les informations d’erreurs et d’actions. Un bouton en dessous permet de les supprimer ",
        "output": "str",
        "x": 990,
        "y": 3920,
        "wires": [
            [
                "0ff1e510cf44911c"
            ]
        ]
    },
    {
        "id": "07c25d0dee70d741",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "En haut à droite de l'écran, est affiché le pourcentage de batterie restant dans le bloc de commande. si il est écrit \"ERROR\" ça veut dire qu'il n'a pas pas d’information.  ",
        "output": "str",
        "x": 990,
        "y": 3960,
        "wires": [
            [
                "4161819f38233906"
            ]
        ]
    },
    {
        "id": "3f4107ca0829dfb1",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Permet de donner l'adresse ip de la centrale",
        "output": "str",
        "x": 990,
        "y": 4000,
        "wires": [
            [
                "12bcd7b712f3a6fd"
            ]
        ]
    },
    {
        "id": "4161819f38233906",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "group": "29c5e74d5d25f241",
        "order": 2,
        "width": 7,
        "height": 3,
        "name": "",
        "label": "Batterie ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1130,
        "y": 3960,
        "wires": []
    },
    {
        "id": "12bcd7b712f3a6fd",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "group": "29c5e74d5d25f241",
        "order": 3,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Adresse IP",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1140,
        "y": 4000,
        "wires": []
    },
    {
        "id": "72fc557157d9abcd",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Permet de tester la connexion entre le bloc de commande.",
        "output": "str",
        "x": 990,
        "y": 4040,
        "wires": [
            [
                "3d5a5c6ac1341428"
            ]
        ]
    },
    {
        "id": "3d5a5c6ac1341428",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "group": "29c5e74d5d25f241",
        "order": 4,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Test connexion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1150,
        "y": 4040,
        "wires": []
    },
    {
        "id": "a4acd61b0366a452",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "prime d'activité ou de deactivation les notifications et alertes",
        "output": "str",
        "x": 990,
        "y": 4080,
        "wires": [
            [
                "490d2014ea54607c"
            ]
        ]
    },
    {
        "id": "490d2014ea54607c",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "group": "29c5e74d5d25f241",
        "order": 5,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Notification alerte ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1160,
        "y": 4080,
        "wires": []
    },
    {
        "id": "31c2d6e3f005b8f2",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "permet de rester la database du bloc de commande ",
        "output": "str",
        "x": 990,
        "y": 4120,
        "wires": [
            [
                "f25eedab1023716b"
            ]
        ]
    },
    {
        "id": "f25eedab1023716b",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6916552ee1b2f931",
        "group": "29c5e74d5d25f241",
        "order": 6,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "Reste data base",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1150,
        "y": 4120,
        "wires": []
    },
    {
        "id": "4e4446fb7fbea02f",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "7a89038a32db7892"
            ]
        ]
    },
    {
        "id": "1bd7024b5e1a6ae5",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "group": "74c5a773f085b6d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "7a89038a32db7892",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "6a178380e6f6a626",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Touche un linge du tableau pour récupérer la poule en question.",
        "output": "str",
        "x": 240,
        "y": 500,
        "wires": [
            [
                "1bd7024b5e1a6ae5"
            ]
        ]
    },
    {
        "id": "5267bc5c1793935d",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "b328bde8dd012fe6",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Permet de définir une poule avec une bague RFID et des informations. Activer le lecteur RFID puis faire passer la bague sur le lecteur.Si la bague est déjà associée à une poule les information sera affichée.Mettez les informations dans le formulaire, puis cliquez sur les boutons ajoutés. Vous pourrez modifier ou supprimer avec les bouton en dessous",
        "output": "str",
        "x": 1000,
        "y": 4220,
        "wires": [
            [
                "1db5d2ee400cf485"
            ]
        ]
    },
    {
        "id": "1db5d2ee400cf485",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "b328bde8dd012fe6",
        "group": "e04f06d773cb4165",
        "order": 1,
        "width": 7,
        "height": 5,
        "name": "",
        "label": "Formulaire",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1150,
        "y": 4220,
        "wires": []
    },
    {
        "id": "0c6a5db99efe514b",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "b328bde8dd012fe6",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Affiche toutes les poules qui sont enregistrer avec leur information, si vous touchez un linge du tableau vous récupérez la poule en question dans le formulaire.",
        "output": "str",
        "x": 1000,
        "y": 4260,
        "wires": [
            [
                "159705ba1965f04e"
            ]
        ]
    },
    {
        "id": "159705ba1965f04e",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "b328bde8dd012fe6",
        "group": "e04f06d773cb4165",
        "order": 2,
        "width": 7,
        "height": 3,
        "name": "",
        "label": "Tableaux",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1140,
        "y": 4260,
        "wires": []
    },
    {
        "id": "f7a64c0426a285bf",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "24ab5193293b36f7",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Chaque colonne permet de définir l'heure d'ouverture ou de fermeture du poulailler. Il sera affiché l'heure du coucher ou du lever de soleil. En dessous vous pourrez définir à combien de temps l'ouverture ou fermeture se fera faite, avant ou après le coucher ou du lever de soleil. Puis il sera affiché l'heure exacte de l'ouverture et la fermeture.",
        "output": "str",
        "x": 1000,
        "y": 4360,
        "wires": [
            [
                "0135d0dcd0c97999"
            ]
        ]
    },
    {
        "id": "0135d0dcd0c97999",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "g": "24ab5193293b36f7",
        "group": "2c8608e0d7027f3c",
        "order": 1,
        "width": 7,
        "height": 6,
        "name": "",
        "label": "l'heur d'ouverture et de fermeture ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1220,
        "y": 4360,
        "wires": []
    },
    {
        "id": "a98b731dbcc096cf",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "d8f55d5e04d5ba69",
        "name": "flow.pong = false",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "d5323237e42f803d",
        "type": "delay",
        "z": "805c580241bb2718",
        "g": "d8f55d5e04d5ba69",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1140,
        "y": 1680,
        "wires": [
            [
                "627f1a828de16b4c"
            ]
        ]
    },
    {
        "id": "fbc63b28b102d38b",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "d8f55d5e04d5ba69",
        "name": "ping",
        "topic": "BTSpoulailler2022/ping",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 1130,
        "y": 1720,
        "wires": []
    },
    {
        "id": "627f1a828de16b4c",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "d8f55d5e04d5ba69",
        "name": "",
        "property": "pong",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 1680,
        "wires": [
            [
                "54f9e1bbf110b28b"
            ],
            [
                "455a16d73bccb185"
            ]
        ]
    },
    {
        "id": "455a16d73bccb185",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "55d004e8d13b873d",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Une erreur est survenue, Veuillez bien vérifier la connectivité avec le bloc de commande",
        "output": "str",
        "x": 1480,
        "y": 1660,
        "wires": [
            [
                "f704abe5860563e6",
                "58a41d6a848df2a1"
            ]
        ]
    },
    {
        "id": "f704abe5860563e6",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "55d004e8d13b873d",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1630,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "783f433148544eaa",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "dd2c1bd9ca94b13f",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1900,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "58a41d6a848df2a1",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "dd2c1bd9ca94b13f",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 1710,
        "y": 1760,
        "wires": [
            [
                "783f433148544eaa"
            ]
        ]
    },
    {
        "id": "379901c0da9bcd66",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "193961d698105b2a",
        "name": "flow.pong = false",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "334e790b09cd698b",
        "type": "delay",
        "z": "805c580241bb2718",
        "g": "193961d698105b2a",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 1180,
        "wires": [
            [
                "5224d7079942b9ce"
            ]
        ]
    },
    {
        "id": "ee81712591aafdf9",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "193961d698105b2a",
        "name": "ping",
        "topic": "BTSpoulailler2022/ping",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 1110,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5224d7079942b9ce",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "193961d698105b2a",
        "name": "",
        "property": "pong",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 1180,
        "wires": [
            [
                "447200486d70a95a"
            ],
            [
                "52c5401159850f9e"
            ]
        ]
    },
    {
        "id": "52c5401159850f9e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "2ff076ee960d5317",
        "name": "message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Une erreur est survenue, Veuillez bien vérifier la connectivité avec le bloc de commande",
        "output": "str",
        "x": 1420,
        "y": 1160,
        "wires": [
            [
                "70c9e377580d8ba8",
                "12f4c809acd1ea7f"
            ]
        ]
    },
    {
        "id": "70c9e377580d8ba8",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "2ff076ee960d5317",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1590,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "12f4c809acd1ea7f",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "351bf8b801085b6a",
        "name": "Commande SQL",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO log (info) VALUES ('{{payload}}');",
        "output": "str",
        "x": 1630,
        "y": 1260,
        "wires": [
            [
                "bf94296963a9e027"
            ]
        ]
    },
    {
        "id": "bf94296963a9e027",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "351bf8b801085b6a",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1800,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "c85f87d80a57ed0d",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "26894f66638d7543",
        "name": "add_remouve_poule",
        "topic": "BTSpoulailler2022/add_remouve_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 2100,
        "y": 1440,
        "wires": []
    },
    {
        "id": "ace545be5a7c3914",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "575c2ca30204782f",
        "name": "add_remouve_poule",
        "topic": "BTSpoulailler2022/add_remouve_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 2040,
        "y": 940,
        "wires": []
    },
    {
        "id": "b7ac0dbe3b97bb9e",
        "type": "http in",
        "z": "805c580241bb2718",
        "g": "c3fa475cde5e7bd9",
        "name": "",
        "url": "/test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 2400,
        "wires": [
            [
                "1636d7acdd2978b4"
            ]
        ]
    },
    {
        "id": "52a8dfff667b49dd",
        "type": "http response",
        "z": "805c580241bb2718",
        "g": "c3fa475cde5e7bd9",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 2400,
        "wires": []
    },
    {
        "id": "9fdfae605359aca6",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "battery",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "1636d7acdd2978b4",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "c3fa475cde5e7bd9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "battery",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2400,
        "wires": [
            [
                "52a8dfff667b49dd"
            ]
        ]
    },
    {
        "id": "49c1fa327b180f5c",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "575c2ca30204782f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 940,
        "wires": [
            [
                "ace545be5a7c3914"
            ]
        ]
    },
    {
        "id": "bb723b10cb1a5770",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "26894f66638d7543",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "poule.id",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1880,
        "y": 1440,
        "wires": [
            [
                "c85f87d80a57ed0d"
            ]
        ]
    },
    {
        "id": "5126204cfbd3dafc",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Numero",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 100,
        "y": 620,
        "wires": [
            [
                "26e4c9960d1c3f8e"
            ]
        ]
    },
    {
        "id": "5fefc1756c2286e8",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "0fce65358dce9cfc"
            ]
        ]
    },
    {
        "id": "26e4c9960d1c3f8e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<style> input{ type=\"number\" } </style> Entre le numero",
        "output": "str",
        "x": 250,
        "y": 620,
        "wires": [
            [
                "5fefc1756c2286e8"
            ]
        ]
    },
    {
        "id": "0fce65358dce9cfc",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "name": "!= \"Cencel\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Cencel",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 620,
        "wires": [
            [
                "778a74ef4d6243f2"
            ]
        ]
    },
    {
        "id": "778a74ef4d6243f2",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "name": "",
        "func": "var numero = msg.payload\nfor (let i = 0; i < 5; i++) {\n    var numero = numero.replace(\" \", \"\")\n}\n\n// only number\nvar numero = numero.match(/(\\d+)/)[0];\n\nif (numero.length != 10 ) {\n    return [null,msg]\n}\n\nmsg.payload = numero\n\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            [
                "7fcb6d9b6d980789"
            ],
            [
                "c44b52b1ce6db34e"
            ]
        ]
    },
    {
        "id": "68e412585563ec6d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1060,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c44b52b1ce6db34e",
        "type": "template",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "veuillez sélectionner un numéro de téléphone correct.\n",
        "output": "str",
        "x": 910,
        "y": 640,
        "wires": [
            [
                "68e412585563ec6d"
            ]
        ]
    },
    {
        "id": "7fcb6d9b6d980789",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "303f67625aea85bc",
        "name": "numero",
        "topic": "BTSpoulailler2022/numero",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "77bbf09a988418ab",
        "x": 920,
        "y": 600,
        "wires": []
    },
    {
        "id": "29f4455afda12899",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 220,
        "y": 2280,
        "wires": [
            [
                "9fdfae605359aca6"
            ]
        ]
    },
    {
        "id": "e03c76635e962464",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "3211eaad50c87589",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "04395992c8afbdfe",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "1eb94c4721139e45",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "04395992c8afbdfe",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "76c2862b64a838ef",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "04395992c8afbdfe",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "b997a4b246ca147d",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "04395992c8afbdfe",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "7d3cdd6d2c80c103",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "04395992c8afbdfe",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "ebce28351b74bc20",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "5d9c483452988522",
        "order": 1,
        "width": 8,
        "height": 1
    },
    {
        "id": "0adece7ef394e641",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "5d9c483452988522",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "19d59c84b2230d44",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "5d9c483452988522",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "3b913501e26f592c",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "5d9c483452988522",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "02c24a56593e6597",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "5d9c483452988522",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "18db2ffe33225657",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "de0704c895d59fa5",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "a3ded366770bee5d",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "1b815f1268bf420f",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "77bbf09a988418ab",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "5.196.95.208",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c837632a8607faf",
        "type": "ui_group",
        "name": "Status",
        "tab": "822227a0f92f6265",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de0704c895d59fa5",
        "type": "ui_group",
        "name": "Poule",
        "tab": "b54b20cf8cc54690",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "444ff6d77b0f6d5e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "centraldb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1b815f1268bf420f",
        "type": "ui_group",
        "name": "Log",
        "tab": "822227a0f92f6265",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "74c5a773f085b6d9",
        "type": "ui_group",
        "name": "Tableaux",
        "tab": "b54b20cf8cc54690",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d9c483452988522",
        "type": "ui_group",
        "name": "Coucher du soleil",
        "tab": "c351dcb110fb6d90",
        "order": 2,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "04395992c8afbdfe",
        "type": "ui_group",
        "name": "Lever du soleil",
        "tab": "c351dcb110fb6d90",
        "order": 1,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "29c5e74d5d25f241",
        "type": "ui_group",
        "name": "Administation ",
        "tab": "b9b8611f53e5f99f",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e04f06d773cb4165",
        "type": "ui_group",
        "name": "Poulailler",
        "tab": "b9b8611f53e5f99f",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c8608e0d7027f3c",
        "type": "ui_group",
        "name": "Horaires",
        "tab": "b9b8611f53e5f99f",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "822227a0f92f6265",
        "type": "ui_tab",
        "name": "Administration ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b54b20cf8cc54690",
        "type": "ui_tab",
        "name": "Poulailler",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c351dcb110fb6d90",
        "type": "ui_tab",
        "name": "Horaires",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9b8611f53e5f99f",
        "type": "ui_tab",
        "name": "Information ",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]