BTS poulailler/Node-red save Central 13-01-2022.json
[
    {
        "id": "805c580241bb2718",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "95acc834831e46e7",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Batterie",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ea3dc01b2a48662d",
            "7c8794493bd5c324",
            "5c4065af834d4824",
            "f33c4610e26a24ce"
        ],
        "x": 54,
        "y": 64,
        "w": 472,
        "h": 157
    },
    {
        "id": "b1728ab88fc86a9d",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Exemple DB ",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5977279d4f5ee3d4",
            "aeebb55a996e90f9",
            "fd87ba8a314a9832"
        ],
        "x": 994,
        "y": 959,
        "w": 642,
        "h": 82
    },
    {
        "id": "e16af19edd35fa3d",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion auto",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "90558f9b056bceb7",
            "0f10804815cb8909",
            "ae3a9d0868370291",
            "af7f183ce8dafc70",
            "197b4331dac17f16",
            "3ba73377816e50b2",
            "37d1f163c8a89f50",
            "f80c2d728df3fa4f",
            "3257a1af4648e098",
            "9ca5417844cd9c7a",
            "a86550f28652d385",
            "a8c25866bdf2ddba"
        ],
        "x": 94,
        "y": 1459,
        "w": 1192,
        "h": 182
    },
    {
        "id": "cc01ed0fbd800dde",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4064af3e0c1bbc52",
            "228ba163cfdbeb1b",
            "693b5245577c6127"
        ],
        "x": 1254,
        "y": 19,
        "w": 232,
        "h": 202
    },
    {
        "id": "5fdd2749fb2c97e8",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Erreur ping ",
        "style": {
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cb2b9608c57f0f7c",
            "88a40f93cfbacc2e"
        ],
        "x": 944,
        "y": 479,
        "w": 342,
        "h": 82
    },
    {
        "id": "a7b312f2d6da2fb3",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Get IP",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "73844e3a1f1839f7",
            "6222e2ce9fbf7a60",
            "18b517d85ddd5705",
            "adcd140aa2820cb8"
        ],
        "x": 74,
        "y": 1191.5,
        "w": 972,
        "h": 97
    },
    {
        "id": "11c3e78450df6f05",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Good ping",
        "style": {
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3decf1e37af1b56d",
            "8482a4323d1ba8b1"
        ],
        "x": 934,
        "y": 579,
        "w": 372,
        "h": 82
    },
    {
        "id": "835ea2b341f6f76c",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "647514d9b6ed8ee2",
        "name": "Test connexion manuel ",
        "style": {
            "stroke": "#a4a4a4",
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "8b8fae707974793d",
            "aee599b54fae5925",
            "f715fc3e0e71471d"
        ],
        "x": 104,
        "y": 1339,
        "w": 582,
        "h": 82
    },
    {
        "id": "647514d9b6ed8ee2",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e16af19edd35fa3d",
            "835ea2b341f6f76c"
        ],
        "x": 68,
        "y": 1313,
        "w": 1244,
        "h": 354
    },
    {
        "id": "dc5a57eb6931fef0",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "Système alerte",
        "style": {
            "label": true,
            "color": "#000000",
            "fill": "#bfdbef"
        },
        "nodes": [
            "3b753337ef46f343",
            "f285eccb096c3ac7",
            "5774f682efdd4e1f",
            "b84b30b91afbba70",
            "977a7b1851bf9dd3",
            "d42a40412770e13d",
            "c22c82aad37ee205"
        ],
        "x": 74,
        "y": 459,
        "w": 712,
        "h": 202
    },
    {
        "id": "1cde7581e890abab",
        "type": "group",
        "z": "805c580241bb2718",
        "g": "8ebfafcbcd4786a3",
        "name": "On/Off Alerte",
        "style": {
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "63d3213db31e8f74",
            "c5a929feb26d28c7",
            "d5c9c200c6aa1c44",
            "4c0def05a1dda505",
            "c2a9274b101f8aa1"
        ],
        "x": 74,
        "y": 299,
        "w": 772,
        "h": 122
    },
    {
        "id": "8ebfafcbcd4786a3",
        "type": "group",
        "z": "805c580241bb2718",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5fdd2749fb2c97e8",
            "11c3e78450df6f05",
            "dc5a57eb6931fef0",
            "1cde7581e890abab"
        ],
        "x": 48,
        "y": 273,
        "w": 1284,
        "h": 414
    },
    {
        "id": "87c54a4648fb23ce",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Title Bar",
        "style": {
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "b97bc1c0.cb899"
        ],
        "x": 554,
        "y": 59,
        "w": 212,
        "h": 82
    },
    {
        "id": "28cdb4555c1fbb08",
        "type": "group",
        "z": "805c580241bb2718",
        "name": "Demande d'authentification  ",
        "style": {
            "stroke": "#a4a4a4",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e77cb200.c630b",
            "1b706a81.3b20f5",
            "838f5114e94bb518",
            "6a1fbffb30a62cda"
        ],
        "x": 154,
        "y": 1039,
        "w": 672,
        "h": 102
    },
    {
        "id": "4064af3e0c1bbc52",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "add_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1350,
        "y": 120,
        "wires": []
    },
    {
        "id": "228ba163cfdbeb1b",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "remove_poule",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1360,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea3dc01b2a48662d",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "topic": "batterie",
        "qos": "0",
        "datatype": "utf8",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7c8794493bd5c324"
            ]
        ]
    },
    {
        "id": "693b5245577c6127",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "cc01ed0fbd800dde",
        "name": "",
        "topic": "code_commande",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 1370,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c8794493bd5c324",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "5c4065af834d4824",
                "f33c4610e26a24ce"
            ]
        ]
    },
    {
        "id": "5c4065af834d4824",
        "type": "ui_gauge",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "donut",
        "title": "Batterie",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#00ff04"
        ],
        "seg1": "",
        "seg2": "",
        "x": 440,
        "y": 180,
        "wires": []
    },
    {
        "id": "f33c4610e26a24ce",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "95acc834831e46e7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 120,
        "wires": [
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "b46cf4b15215226b",
        "type": "comment",
        "z": "805c580241bb2718",
        "name": "Code_commande",
        "info": "Ouvrir/Fermer : 1",
        "x": 1160,
        "y": 80,
        "wires": []
    },
    {
        "id": "90558f9b056bceb7",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "topic": "Pong",
        "qos": "2",
        "datatype": "auto",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 1600,
        "wires": [
            [
                "197b4331dac17f16"
            ]
        ]
    },
    {
        "id": "0f10804815cb8909",
        "type": "mqtt out",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "topic": "Ping",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e30867a57b4d213f",
        "x": 410,
        "y": 1600,
        "wires": []
    },
    {
        "id": "ae3a9d0868370291",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "clock 1heur",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 1540,
        "wires": [
            [
                "af7f183ce8dafc70",
                "9ca5417844cd9c7a",
                "0f10804815cb8909"
            ]
        ]
    },
    {
        "id": "af7f183ce8dafc70",
        "type": "delay",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 1540,
        "wires": [
            [
                "37d1f163c8a89f50"
            ]
        ]
    },
    {
        "id": "197b4331dac17f16",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "set true",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "3ba73377816e50b2",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 1540,
        "wires": [
            [
                "f80c2d728df3fa4f"
            ],
            [
                "3257a1af4648e098"
            ]
        ]
    },
    {
        "id": "37d1f163c8a89f50",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "get reponse",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pong",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1540,
        "wires": [
            [
                "3ba73377816e50b2"
            ]
        ]
    },
    {
        "id": "f80c2d728df3fa4f",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "good",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "3257a1af4648e098",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "error_ping",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "9ca5417844cd9c7a",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "pong",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "a86550f28652d385",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reture code_alert",
        "info": "",
        "x": 1180,
        "y": 1560,
        "wires": []
    },
    {
        "id": "5977279d4f5ee3d4",
        "type": "mysql",
        "z": "805c580241bb2718",
        "g": "b1728ab88fc86a9d",
        "mydb": "444ff6d77b0f6d5e",
        "name": "",
        "x": 1340,
        "y": 1000,
        "wires": [
            [
                "fd87ba8a314a9832"
            ]
        ]
    },
    {
        "id": "aeebb55a996e90f9",
        "type": "inject",
        "z": "805c580241bb2718",
        "g": "b1728ab88fc86a9d",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM test",
        "x": 1140,
        "y": 1000,
        "wires": [
            [
                "5977279d4f5ee3d4"
            ]
        ]
    },
    {
        "id": "fd87ba8a314a9832",
        "type": "debug",
        "z": "805c580241bb2718",
        "g": "b1728ab88fc86a9d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b77a34da843b7757",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "group": "0c837632a8607faf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Spacer",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1180,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb2b9608c57f0f7c",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "5fdd2749fb2c97e8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "88a40f93cfbacc2e",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "5fdd2749fb2c97e8",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Une erreur est survenue, Veuillez bien vérifier la connectivité avec le bloc de commande",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "cb2b9608c57f0f7c"
            ]
        ]
    },
    {
        "id": "73844e3a1f1839f7",
        "type": "exec",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "command": "hostname -I",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 610,
        "y": 1240,
        "wires": [
            [
                "6222e2ce9fbf7a60"
            ],
            [],
            []
        ]
    },
    {
        "id": "6222e2ce9fbf7a60",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "func": "var ip = \"\";\nip = msg.payload;\n\nmsg.payload = \"Adresse IP : \" + ip.split(\" \")[0].toString()\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "18b517d85ddd5705"
            ]
        ]
    },
    {
        "id": "18b517d85ddd5705",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 950,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "adcd140aa2820cb8",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "a7b312f2d6da2fb3",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Adresse IP ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 1240,
        "wires": [
            [
                "e77cb200.c630b"
            ]
        ]
    },
    {
        "id": "a8c25866bdf2ddba",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "e16af19edd35fa3d",
        "name": "reture code_alert",
        "info": "",
        "x": 1140,
        "y": 1520,
        "wires": []
    },
    {
        "id": "3decf1e37af1b56d",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "11c3e78450df6f05",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Test : La connectivité avec le bloc de commande est bonne",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 620,
        "wires": [
            [
                "8482a4323d1ba8b1"
            ]
        ]
    },
    {
        "id": "8482a4323d1ba8b1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "11c3e78450df6f05",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1190,
        "y": 620,
        "wires": []
    },
    {
        "id": "8b8fae707974793d",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "name": "message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Lancement du test ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "f715fc3e0e71471d"
            ]
        ]
    },
    {
        "id": "aee599b54fae5925",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Test connexion ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1380,
        "wires": [
            [
                "9ca5417844cd9c7a",
                "af7f183ce8dafc70",
                "0f10804815cb8909",
                "8b8fae707974793d"
            ]
        ]
    },
    {
        "id": "f715fc3e0e71471d",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "835ea2b341f6f76c",
        "position": "top right",
        "displayTime": "1",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 570,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3b753337ef46f343",
        "type": "mqtt in",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "topic": "code_alerte",
        "qos": "2",
        "datatype": "utf8",
        "broker": "e30867a57b4d213f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "f285eccb096c3ac7"
            ]
        ]
    },
    {
        "id": "f285eccb096c3ac7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "String to in",
        "func": "msg.payload = parseInt( msg.payload, 10)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "5774f682efdd4e1f",
        "type": "switch",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "88a40f93cfbacc2e"
            ],
            [
                "3decf1e37af1b56d"
            ],
            []
        ]
    },
    {
        "id": "b84b30b91afbba70",
        "type": "comment",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "code_alerte",
        "info": "error ping : 1\nping good : 2",
        "x": 170,
        "y": 500,
        "wires": []
    },
    {
        "id": "977a7b1851bf9dd3",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "error_ping",
        "scope": [
            "3257a1af4648e098"
        ],
        "uncaught": false,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "d42a40412770e13d",
        "type": "complete",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "good_ping",
        "scope": [
            "f80c2d728df3fa4f"
        ],
        "uncaught": false,
        "x": 340,
        "y": 620,
        "wires": [
            [
                "c22c82aad37ee205"
            ]
        ]
    },
    {
        "id": "63d3213db31e8f74",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "group": "0c837632a8607faf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Notifiacation des alerte",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "c5a929feb26d28c7"
            ]
        ]
    },
    {
        "id": "c5a929feb26d28c7",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "",
        "func": "\nif (flow.get(\"onAlerte\")) {\n    flow.set(\"onAlerte\",false)\n    msg.payload = false;\n    return [msg,null];\n}\nelse{\n    flow.set(\"onAlerte\",true);\n    msg.payload = true;\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"onAlerte\", true);",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "d5c9c200c6aa1c44"
            ],
            [
                "4c0def05a1dda505"
            ]
        ]
    },
    {
        "id": "d5c9c200c6aa1c44",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message false",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Les alertes sont désactivées ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 340,
        "wires": [
            [
                "c2a9274b101f8aa1"
            ]
        ]
    },
    {
        "id": "4c0def05a1dda505",
        "type": "change",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "name": "message true",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Les alertes sont activées ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "c2a9274b101f8aa1"
            ]
        ]
    },
    {
        "id": "c2a9274b101f8aa1",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "1cde7581e890abab",
        "position": "top right",
        "displayTime": "3",
        "highlight": "none",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "c22c82aad37ee205",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "dc5a57eb6931fef0",
        "name": "if (  flow.onAlerte )",
        "func": "\nif (flow.get(\"onAlerte\") == true) {\n    return msg ;\n}\n\nreturn msg = null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"onAlerte\",true);",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 540,
        "wires": [
            [
                "5774f682efdd4e1f"
            ]
        ]
    },
    {
        "id": "414690085279333e",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "name": "",
        "group": "de0704c895d59fa5",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "c917db39cf77ed28",
        "type": "ui_button",
        "z": "805c580241bb2718",
        "name": "",
        "group": "59f993ad642e4ef2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ac547f8b8b8eb17",
        "type": "ui_text_input",
        "z": "805c580241bb2718",
        "name": "",
        "label": "Nom ",
        "tooltip": "",
        "group": "de0704c895d59fa5",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 310,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5bff56c21c474d4e",
        "type": "ui_colour_picker",
        "z": "805c580241bb2718",
        "name": "",
        "label": "",
        "group": "de0704c895d59fa5",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 3,
        "width": 1,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 290,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "86012e0cf46fed7c",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "group": "de0704c895d59fa5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP : ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 310,
        "y": 780,
        "wires": []
    },
    {
        "id": "423eef632177408b",
        "type": "ui_text",
        "z": "805c580241bb2718",
        "group": "de0704c895d59fa5",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 840,
        "wires": []
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "g": "87c54a4648fb23ce",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 660,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d8fb6f7ee0ecbefd",
        "type": "ui_template",
        "z": "805c580241bb2718",
        "group": "0c837632a8607faf",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    .password {\n        type : password ;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1240,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "e77cb200.c630b",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "name": "Content",
        "func": "return { payload: '<style>input{ -webkit-text-security: disc;}</style> Mots de passes administrateur :'};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1100,
        "wires": [
            [
                "1b706a81.3b20f5"
            ]
        ]
    },
    {
        "id": "1b706a81.3b20f5",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 410,
        "y": 1100,
        "wires": [
            [
                "838f5114e94bb518"
            ]
        ]
    },
    {
        "id": "838f5114e94bb518",
        "type": "function",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "name": "",
        "func": "if (msg.payload == \"Cancel\") {\n    return [null, null];\n}\nif (msg.payload == \"OK\") {\n    return [null, null];\n}\nif (msg.payload == \"nodebleu\") {\n    msg.payload = true;\n    return [msg, null];\n}\nelse {\n    msg.payload = \"Le mot de passe est incorrect\";\n    return [null, msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1100,
        "wires": [
            [
                "73844e3a1f1839f7"
            ],
            [
                "6a1fbffb30a62cda"
            ]
        ]
    },
    {
        "id": "6a1fbffb30a62cda",
        "type": "ui_toast",
        "z": "805c580241bb2718",
        "g": "28cdb4555c1fbb08",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 730,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "e03c76635e962464",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "2361f5cc7cde3379",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "1e5fa83f9768abf7",
        "type": "ui_spacer",
        "z": "805c580241bb2718",
        "name": "spacer",
        "group": "fee28c8b1e5777f0",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e30867a57b4d213f",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0c837632a8607faf",
        "type": "ui_group",
        "name": "Status",
        "tab": "822227a0f92f6265",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "444ff6d77b0f6d5e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "centraldb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "de0704c895d59fa5",
        "type": "ui_group",
        "name": "Ajouter",
        "tab": "b54b20cf8cc54690",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "59f993ad642e4ef2",
        "type": "ui_group",
        "name": "Poulles",
        "tab": "b54b20cf8cc54690",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2361f5cc7cde3379",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "fee28c8b1e5777f0",
        "type": "ui_group",
        "name": "Enlever ",
        "tab": "b54b20cf8cc54690",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "822227a0f92f6265",
        "type": "ui_tab",
        "name": "Administration ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b54b20cf8cc54690",
        "type": "ui_tab",
        "name": "Poulailler",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]